<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='badgerToken-1.0.1.js') }}"></script>
</head>
<body>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('logout') }}">Logout</a>
<ul>
    <li><a href="/mock/article/0">Article 0</a></li>
    <li><a href="/mock/article/1">Article 1</a></li>
    <li><a href="/mock/article/2">Article 2</a></li>
    <li><a href="/mock/article/3">Article 3</a></li>
</ul>
</body>
</html>
