<html>
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
		<header>
			<nav class="fixed-header">
		        <div ><a href="http://localhost:5000">FINN+</a></div>
		        <ul >
                    {% with messages = get_flashed_messages() %}
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    {% endwith %}
                    {% set data = get_user_data() %}
                    {% if data %}
                        <li>Payment type: {{ data.payment_type }}</li>
                        <li>{{ data.value }}</li>
                        <li>Logged in as: {{ data.name }}</li>
		                <li><a href="/logout">Logout</a></li>
                    {% endif %}
		        </ul>
		        </div>
	    	</nav>
	    </header>

    {% block body %}
    {% endblock %}
</body>
</html>