<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <a href="{{ url_for('index') }}">Main page</a>
    <a href="{{ url_for('logout') }}">Logout</a>
    <br>
    <h1>Article {{article_id}}</h1>
    <p><a href="{{ url_for('login') }}">Login to view</a></p>
    <p>or login with finn+</p>
    <form method="POST" action="{{url_for('loginfinnplus')}}">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(size=20) }}
    {{ form.password.label }} {{ form.password(size=20) }}
    <input type="submit" value="Go">
</form>
</body>
