<div class="container center">
    <button id="paybutton" class="btn btn-large teal modal-trigger">Pay 1 token</button>
    <script>
        var button = document.getElementById('paybutton');
        button.onclick = function () {
            var params = {'url': window.location.href, 'txid': 1};
            var ajaxRequest = $.ajax({
                async: true,
                url: '/finnplus',
                type: 'POST',
                dataType: 'text',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(params),
            });
            ajaxRequest.done(function () {
                location.reload();
            });
        }
    </script>
</div>