{% extends "ks/base.html" %}

{% block content %}
    <article>
        <h1>Everything You Know About Obesity Is Wrong</h1>
        <p {% if not paywall.show %} class="paytext" {% endif %}>
        <strong>From the 16th century to the 19th,</strong> scurvy killed around 2 million sailors, more than
            warfare, shipwrecks and syphilis combined. It was an ugly, smelly death, too, beginning with rattling
            teeth and ending with a body so rotted out from the inside that its victims could literally be startled
            to death by a loud noise. Just as horrifying as the disease itself, though, is that for most of those
            300 years, medical experts knew how to prevent it and simply failed to. <br>
            In the 1600s, some sea captains distributed lemons, limes and oranges to sailors, driven by the belief
            that a daily dose of citrus fruit would stave off scurvy’s progress. The British Navy, wary of the cost
            of expanding the treatment, turned to malt wort, a mashed and cooked byproduct of barley which had the
            advantage of being cheaper but the disadvantage of doing nothing whatsoever to cure scurvy. In 1747, a
            British doctor named James Lind conducted an experiment where he gave one group of sailors citrus slices
            and the others vinegar or seawater or cider. The results couldn’t have been clearer. The crewmen who ate
            fruit improved so quickly that they were able to help care for the others as they languished. Lind
            published his findings, but died before anyone got around to implementing them nearly 50 years
            later.
        </p>
        {% if paywall.show %}

            <p>This kind of myopia repeats throughout history. Seat belts were invented long before the automobile but
                weren’t mandatory in cars until the 1960s. The first confirmed death from asbestos exposure was recorded
                in 1906, but the U.S. didn’t start banning the substance until 1973. Every discovery in public health,
                no matter how significant, must compete with the traditions, assumptions and financial incentives of the
                society implementing it.</p>
            <p>Which brings us to one of the largest gaps between science and practice in our own time. Years from now,
                we will look back in horror at the counterproductive ways we addressed the obesity epidemic and the
                barbaric ways we treated fat people—long after we knew there was a better path.</p>
            <p><span>
	<span>I have never written a story where so many of my sources cried during interviews, where they shook with anger describing their interactions with doctors and strangers and their own families.</span>

</span></p><p>About 40 years ago, Americans started getting much larger. According to the Centers for Disease Control
            and Prevention, nearly 80 percent of <a
                    href="https://www.cdc.gov/nchs/data/hestat/obesity_adult_15_16/obesity_adult_15_16.pdf"
                    target="_blank">adults</a> and about one-third of <a
                    href="https://www.cdc.gov/nchs/data/hestat/obesity_child_15_16/obesity_child_15_16.pdf"
                    target="_blank">children</a> now meet the clinical definition of overweight or obese. More Americans
            live with “extreme obesity“ than with breast cancer, Parkinson’s, Alzheimer’s and HIV put together.</p>
            <p>And the medical community’s primary response to this shift has been to blame fat people for being fat.
                Obesity, we are told, is a personal failing that strains our health care system, shrinks our GDP and
                saps our military strength. It is also an excuse to bully fat people in one sentence and then inform
                them in the next that you are doing it for their own good. That’s why the fear of becoming fat, or
                staying that way, drives Americans to spend more on dieting every year than we spend on video games or
                movies. Forty-five percent of adults <a
                        href="https://news.gallup.com/poll/174089/nearly-half-remain-worried-weight.aspx"
                        target="_blank">say</a> they’re preoccupied with their weight some or all of the time—an
                11-point rise since 1990. Nearly half of <em>3- to 6- year old girls</em> say they <a
                        href="http://stars.library.ucf.edu/cgi/viewcontent.cgi?article=4747&amp;context=etd"
                        target="_blank">worry</a> about being fat.</p>







            <div>
                <div>
                    <p>
                        <img src="https://highline.huffingtonpost.com/articles/en/everything-you-know-about-obesity-is-wrong/media/images/h-logo.svg">
                    </p>
                    <p>For more stories that<br> stay with you, subscribe<br> to our newsletter.</p>
                </div>
            </div>





            <p>The emotional costs are incalculable. I have never written a story where so many of my sources cried
                during interviews, where they double- and triple-checked that I would not reveal their names, where they
                shook with anger describing their interactions with doctors and strangers and their own families. One
                remembered kids singing “Baby Beluga” as she boarded the school bus, another said she has tried diets so
                extreme she has passed out and yet another described the elaborate measures he takes to keep his spouse
                from seeing him naked in the light. A medical technician I’ll call Sam (he asked me to change his name
                so his wife wouldn’t find out he spoke to me) said that one glimpse of himself in a mirror can destroy
                his mood for days. “I have this sense I’m fat and I shouldn’t be,” he says. “It feels like the worst
                kind of weakness.”</p>
            <p>My interest in this issue is slightly more than journalistic. Growing up, my mother’s weight was the
                uncredited co-star of every family drama, the obvious, unspoken reason why she never got out of the car
                when she picked me up from school, why she disappeared from the family photo album for years at a time,
                why she spent hours making meatloaf then sat beside us eating a bowl of carrots. Last year, for the
                first time, we talked about her weight in detail. When I asked if she was ever bullied, she recalled
                some guy calling her a “fat slob” as she biked past him years ago. “But that was rare,” she says. “The
                bigger way my weight affected my life was that I waited to do things because I thought fat people
                couldn’t do them.” She got her master’s degree at 38, her Ph.D. at 55. “I avoided so many activities
                where I thought my weight would discredit me.”</p>
            <p><span>

        <span>
            <span>
                <span>Chances of a woman classified as obese achieving a “normal” weight:</span><span>0.8%</span><span>Source: American Journal of Public Health, 2015</span>
            </span>
        </span>

</span></p><p>But my mother’s story, like Sam’s, like everyone’s, didn’t have to turn out like this. For 60 years,
            doctors and researchers have known two things that could have improved, or even saved, millions of lives.
            The first is that diets do not work. Not just paleo or Atkins or Weight Watchers or Goop, but <em>all
                diets</em>. Since 1959, research has shown that 95 to 98 percent of attempts to lose weight fail and
            that two-thirds of dieters gain back more than they lost. The reasons are biological and irreversible. As
            early as 1969, research showed that losing just 3 percent of your body weight resulted in a 17 percent
            slowdown in your metabolism—a body-wide starvation response that blasts you with hunger hormones and drops
            your internal temperature until you rise back to your highest weight. Keeping weight off means fighting your
            body’s energy-regulation system and battling hunger all day, every day, for the rest of your life.</p>
            <p>The second big lesson the medical establishment has learned and rejected over and over again is that
                weight and health are not perfect synonyms. Yes, nearly every population-level study finds that fat
                people have worse cardiovascular health than thin people. But individuals are not averages: <a
                        href="https://www.ncbi.nlm.nih.gov/pubmed/25040597/" target="_blank">Studies</a> have found that
                anywhere from one-third to three-quarters of people classified as obese are metabolically healthy. They
                show no signs of elevated blood pressure, insulin resistance or high cholesterol. Meanwhile, about a
                quarter of non-overweight people are what epidemiologists call “the lean unhealthy.” A <a
                        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4731253/" target="_blank">2016 study</a> that
                followed participants for an average of 19 years found that unfit skinny people were twice as likely to
                get diabetes as fit fat people. Habits, no matter your size, are what really matter. Dozens of
                indicators, from vegetable consumption to regular exercise to <em>grip strength,</em> provide a better
                snapshot of someone’s health than looking at her from across a room.</p>
            <p>The terrible irony is that for 60 years, we’ve approached the obesity epidemic like a fad dieter: If we
                just try <em>the exact same thing</em> one more time, we'll get a different result. And so it’s time for
                a paradigm shift. We’re not going to become a skinnier country. But we still have a chance to become a
                healthier one.</p>



        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}

    </article>
{% endblock %}
