{% extends "ss/base.html" %}

{% block content %}
    <article>
        <h1>Better Brainstorming</h1>
        <div id="RIL_IMG_1"><p><img id="image_1"
                                    src="https://pocket-image-cache.com/direct?resize=w2000&amp;url=https%3A%2F%2Fhbr.org%2Fresources%2Fimages%2Farticle_assets%2F2018%2F02%2FR1802C_GREGERSEN.png"
                                    moz-reader-full-width="true" moz-reader-center="true"></p>
            <p><span>Harvard Business Review Staff</span><cite><span></span></cite></p></div>
        <h4>In Brief</h4>
        <div><h5>The Problem</h5>
            <p>Great innovators have always known that the key to unlocking a better answer is to ask a better
                question—one that challenges deeply held assumptions. Yet most people don’t do that, even when
                brainstorming, because it doesn’t come naturally. As a result, they tend to feel stuck in their
                search for fresh ideas.</p><h5>The Solution</h5>
            <p>By brainstorming for questions instead of answers, you can create a safe space for deeper exploration
                and more-powerful problem solving. This brief exercise in reframing—which helps you avoid
                destructive group dynamics and biases that can thwart breakthrough thinking—often reveals promising
                new angles and unexpected insights.</p></div>
        <p {% if not paywall.show %} class="paytext" {% endif %}>

            About 20 years ago I was leading a brainstorming session in one of my MBA classes, and it was like wading
            through oatmeal. We were talking about something that many organizations struggle with: how to build a
            culture of equality in a male-dominated environment. Though it was an issue the students cared about,
            they clearly felt uninspired by the ideas they were generating. After a lot of discussion, the energy
            level in the room was approaching nil. Glancing at the clock, I resolved to at least give us a starting
            point for the next session.<br>
            “Everyone,” I improvised, “let’s forget about finding answers for today and just come up with some new
            questions we could be asking about this problem. Let’s see how many we can write down in the time we
            have left.” The students dutifully started to throw out questions, and I scribbled them on a chalkboard,
            redirecting anybody who started to suggest an answer. To my surprise, the room was quickly energized. At
            the end of the session, people left talking excitedly about a few of the questions that had
            emerged—those that challenged basic assumptions we had been making. For instance: Were there grassroots
            efforts we could support, rather than handing down rules from the top? And: What could we learn from
            pockets within our own organization that had achieved equality, instead of automatically looking
            elsewhere for best practices? Suddenly, there was much more to discuss, because we had opened up
            unexpected pathways to potential solutions.
        </p>
        {% if paywall.show %}

            <p>Brainstorming for questions, not answers, wasn’t something I’d tried before. It just occurred to me in
                that moment, probably because I had recently been reading sociologist Parker Palmer’s early work about
                creative discovery through open, honest inquiry. But this technique worked so well with the students
                that I began experimenting with it in consulting engagements, and eventually it evolved into a
                methodology that I continue to refine. By now I’ve used it with hundreds of clients, including global
                teams at Chanel, Danone, Disney, EY, Fidelity, Genentech, Salesforce, and dozens of other companies;
                nonprofit organizations; and individual leaders I’ve coached.</p>
            <p>Underlying the approach is a broader recognition that fresh questions often beget novel—even
                transformative—insights. Consider this example from the field of psychology: Before 1998 virtually all
                well-trained psychologists focused on attacking the roots of mental disorders and deficits, on the
                assumption that well-being came down to the absence of those negative conditions. But then Martin
                Seligman became president of the American Psychological Association, and he reframed things for his
                colleagues. What if, he asked in a speech at the APA’s annual meeting, well-being is just as driven by
                the <em>presence</em> of certain <em>positive</em> conditions—keys to flourishing that could be
                recognized, measured, and cultivated? With that question, the positive psychology movement was born.</p>
            <p>Brainstorming for questions rather than answers makes it easier to push past cognitive biases and venture
                into uncharted territory. We’ve seen this dynamic in academic studies—in social psychologist <a
                        href="https://www.amazon.com/Friend-Foe-Cooperate-Compete-Succeed/dp/0307720217">Adam Galinsky’s
                    research</a> on the power of reframing during times of transition, for instance. Yet lingering in a
                questioning mode doesn’t come naturally to most people, because we’re conditioned from an early age to
                just keep the answers coming.</p><p>The methodology I’ve developed is essentially <a
                href="https://hbr.org/2017/01/are-you-solving-the-right-problems">a process for recasting problems</a>
            in valuable new ways. It helps people adopt a more creative habit of thinking and, when they’re looking for
            breakthroughs, gives them a sense of control. There’s actually something they can do other than sit and wait
            for a bolt from the blue. Here, I’ll describe how and why this approach works. You can use it anytime you
            (in a group or individually) are feeling stuck or trying to imagine new possibilities. And if you make it a
            regular practice in your organization, it can foster a stronger culture of collective problem solving and
            truth seeking.</p><h2>What Process Should We Follow?</h2>
            <p>Over the years I have tested variations of this brainstorming process—I now call it a “question
                burst”—and collected and analyzed participant data and feedback to gauge what works best. I’ve
                experimented with different group sizes, time allotments, and numbers of questions; impromptu versus
                scheduled sessions; various modes of capturing ideas; and greater and lesser amounts of coaching (on,
                for example, what constitutes a “good” question and how to make creative leaps in thinking). I’ve done
                temperature checks in sessions and conducted surveys after them, looking for the effects of each
                variation. Over time the question burst has settled into a standard format, which consists of three
                steps:</p><h3>1. Set the stage.</h3>
            <p>To begin, select a challenge you care deeply about. Perhaps you’ve suffered a setback or you have a vague
                sense of an intriguing opportunity. How do you know it’s ripe for a breakthrough question? It’s probably
                a good candidate if it “makes your heart beat fast,” as Intuit’s chairman and CEO, Brad Smith, put it to
                me. You’ll give it your full attention and want to engage others in thinking about it.</p>
            <div><p><span>Brainstorming for questions makes it easier to venture into uncharted territory.</span></p>
            </div><p>Invite a few people to help you consider that challenge from fresh angles. Though you can do this
            exercise on your own, bringing others into the process will give you access to a wider knowledge base and
            help you maintain a constructive mindset. As Ned Hallowell says in <span><a
                    href="https://hbr.org/product/driven-to-distraction-at-work-how-to-focus-and-be-more-productive/11089-HBK-ENG">Driven to Distraction at Work</a></span>
            (which was based on his decades of research on how to sustain productive attention), worry “feasts on a
            solitary victim.” When you ask others to participate in a question burst, you’re making yourself vulnerable
            by sharing the problem—but you’re also summoning empathy, <a
                    href="http://www.tandfonline.com/doi/abs/10.1080/09544820902875033">which fosters idea
                generation,</a> as we’ve learned from design thinking. And you engage others in the cause in a
            nonthreatening way.</p>
            <p>It’s best to include two or three people who have no direct experience with the problem and whose
                cognitive style or worldview is starkly different from yours. They will come up with surprising,
                compelling questions that you would not, because they have no practiced ways of thinking about the
                problem and no investment in the status quo. They’re more likely to ask third-rail questions and point
                to elephants in the room—they don’t know not to.</p>
            <p>In traditional brainstorming—the kind that focuses on generating answers—individuals perform better <a
                    href="http://www.tandfonline.com/doi/abs/10.1207/s15324834basp1201_1?journalCode=hbas20">than
                groups,</a> on average. That’s because powerful group dynamics such as “social loafing” (coasting on
                others’ contributions) and <a href="http://psycnet.apa.org/record/1995-32958-001">social anxiety</a>
                (fears about how one’s ideas will be judged) can hinder <a
                        href="https://hbr.org/2016/03/how-to-build-a-culture-of-originality">original thinking</a> and
                stifle <a href="https://hbr.org/2016/01/can-your-employees-really-speak-freely">the voices</a> of
                introverted members. But the question burst methodology, by design, reverses many of those destructive
                dynamics by prompting people to depart from their usual habits of social interaction. For one thing, it
                creates a <a href="http://journals.sagepub.com/doi/abs/10.2307/2666999">safe space</a> for anyone,
                including a quieter person, to offer a different perspective. Because a question burst doesn’t demand
                that anyone instantly assert a point of view, people often feel more comfortable speaking up. The sole
                focus on questions also suspends the automatic rush to provide an answer—and ultimately helps expand the
                problem space for deeper exploration.</p>
            <p>Once you’ve gathered your partners for this exercise, give yourself just two minutes to lay out the
                problem for them. People often believe that their problems require detailed explanations, but quickly
                sharing the challenge forces you to frame it in a high-level way that doesn’t constrain or direct the
                questioning. So just hit the highlights. Try to convey how things would change for the better if the
                problem were solved. And briefly say why you are stuck—why it hasn’t already been solved.</p>
            <h4>Not All Questions Are Created Equal</h4>
            <div>
                <div><p>Often, as I’m outlining the rules for a question burst, people ask what kinds of questions they
                    should contribute—or how they can be confident that a question is a good one for further pursuit.
                    While I hesitate to be definitive about this, it’s true that not all questions have equal potential
                    to lead to novel solutions. To up your odds, keep these principles in mind:
                </p>
                    <ul>
                        <li>Traditional divergent-thinking techniques (for example, making random associations or taking
                            on an alternative persona) can help unlock new questions and, ultimately, new territory.
                        </li>
                    </ul>
                    <ul>
                        <li>Questions are most productive when they are open versus closed, short versus long, and
                            simple versus complex.
                        </li>
                    </ul>
                    <ul>
                        <li>Descriptive questions (what’s working? what’s not? why?) best precede speculative ones (what
                            if? what might be? why not?).
                        </li>
                    </ul>
                    <ul>
                        <li>Shifting from simple questions that require only recall to more cognitively complex ones
                            that demand creative synthesis produces better breakthrough thinking.
                        </li>
                    </ul>
                    <ul>
                        <li>Questions are annoying and distracting when they don’t spring from a deeply held conviction
                            about what the group wants to achieve.
                        </li>
                    </ul>
                    <ul>
                        <li>Questions are toxic when they are posed aggressively, putting people on the spot, casting
                            unwarranted doubt on their ideas, or cultivating a culture of fear.
                        </li>
                    </ul>
                </div>
            </div>
            <p>This approach helped Odessa, a manager at a global financial services company, reframe what she initially
                viewed as a complex communications challenge: rolling out a new strategy to people performing different
                tasks at many levels across many geographies. She prefaced her question burst with a simple explanation,
                sharing her hopes for getting everyone “rowing in the same direction” and her frustration that one set
                of messages couldn’t do the job, given employees’ diverse roles and perspectives. By leaving it at that,
                she created room for a line of questioning that radically altered her understanding. She came to see
                this as a leadership challenge, not just an internal marketing campaign. If she could find a way to
                trust others to convey the strategy, she could mobilize a small army of managers in the field to tailor
                messages for maximum local impact.</p>
            <p>Before opening the floor to your group, clearly spell out two critical rules: First, people can
                contribute only questions. Those who try to suggest solutions—or respond to others’ questions—will be
                redirected by you, the convener of the session. And second, no preambles or justifications that frame a
                question will be allowed, because they’ll guide listeners to see the problem in a certain way—the very
                thing you’re trying to avoid.</p>
            <p>You’ll also want to do a quick emotion check up front. As the “owner” of the challenge, take a moment to
                reflect on it: Are your feelings about it positive, neutral, or negative? Jot down a few words that
                capture your own baseline mood. No need to spend more than 10 seconds on this. You’ll do the same thing
                again after the session is over. These checks are important because emotions affect creative energy. The
                exercise’s objective is not only to spark valuable new questions but also to provide an emotional boost
                that will make you more likely to follow up on them.</p>
            <p>Here I should point out that your creative energy will ebb and flow in the coming days, weeks, and
                months—and preparing yourself for that is critical. Transformational ideas start out as exhilarating but
                turn vexing as unforeseen snags reveal themselves. Then they settle into hard work that, with luck,
                produces moments of hope that will see the change through. If you expect that turbulence from the
                beginning, you’ll be better able to ride it out later.</p><h3>2. Brainstorm the questions.</h3>
            <p>Now set a timer and spend the next four minutes collectively generating as many questions as possible
                about the challenge. As in all brainstorming, don’t allow pushback on anyone’s contributions. The more
                surprising and provocative the questions are, the better.</p>
            <p>When working with large enterprises, I often notice that senior leaders in particular find it
                excruciatingly difficult to resist offering answers—even for four minutes—when people start throwing out
                questions. At one manufacturing company, for instance, when questions about supply chain issues started
                bubbling up, the group’s leader couldn’t help jumping in to display his knowledge. This impulse is
                understandable, and not just for senior executives. In a hierarchy, any manager’s failure to have ready
                answers may be perceived as an embarrassing stumble. Questions, especially counterintuitive ones, make
                many of us feel so uncomfortable that we hasten to utter any default response that buys us time to
                recover. But when we’re feeling blocked on a problem, answering questions this way is a waste of time.
                After all, the reason we’re hung up is that our go-to answers aren’t getting us anywhere.</p>
            <p>In this exercise the emphasis is on quantity. By asking the group to generate as many questions as
                possible in the time allotted—try for at least 15—you’ll keep them short, simple, and fresh. Write every
                question down verbatim on paper, a laptop, or a tablet instead of on a whiteboard so that you can
                capture everything accurately. And ask group members to keep you honest afterward. Otherwise you might
                commit unconscious censoring that repels lines of inquiry you don’t immediately understand or want to
                hear.</p>
            <p>As you’re recording, add your own questions to the mix. That will often reveal patterns in how you have
                habitually framed a problem (and might have unknowingly perpetuated it).</p>
            <p>Is there some magic about precisely four minutes and 15 questions? No, but the time pressure helps
                participants stick to the “questions only” rule. Any effort spent on answers will mean less chance of
                hitting the goal. People will also be more likely to generate questions that are unburdened by
                qualifications and assumptions, and they’ll find it easier to resist explaining why they’re asking any
                question that might seem to come from left field. Even better, studies show that moderate performance
                pressures can enhance <a href="http://psycnet.apa.org/record/2006-08435-018">creative output.</a></p>
            <p>Moreover, perhaps because selective sustained <a
                    href="http://www.sciencedirect.com/science/article/pii/S0165017301000443">attention places real
                demands on the human brain,</a> energy often wanes in this exercise after three and a half minutes,
                especially for beginners. And as a practical matter, transcribing dozens of questions can turn into an
                onerous task. For both those reasons, it’s better to use multiple question bursts to reshape, refine,
                and ultimately solve a challenge than to cram too much activity into one longer session.</p>
            <p>Once the timer goes off, do a second quick emotional check. How do you feel about the challenge now? (And
                how do others in the group feel about it?) Are you more positive than you were four minutes ago? If not,
                and if the setting allows, maybe rerun the exercise. Or get some rest and try again tomorrow. Or try it
                with some different people. <a
                        href="https://hbr.org/2007/05/inner-work-life-understanding-the-subtext-of-business-performance">Research
                    has established</a> that creative problem solving flourishes when people work in positive emotional
                states. After poring over survey data from more than 1,500 global leaders, I’m convinced that part of
                the power of the question burst lies in its ability to alter a person’s view of the challenge, by
                dislodging—for most—that feeling of being stuck.</p><h3>3. Identify a quest—and commit to it.</h3>
            <p>On your own, study the questions you jotted down, looking for those that suggest new pathways. About 80%
                of the time, this exercise produces at least one question that usefully reframes the problem and
                provides a new angle for solving it. Select a few that intrigue you, strike you as different from how
                you’ve been going about things, or even cause you to feel a bit uncomfortable.</p>
            <p>Now try expanding those few into their own sets of related or follow-on questions. A classic way of doing
                this is the “five whys” sequence developed by Toyota Industries’ founder, Sakichi Toyoda—or the
                variation on it suggested by Stanford’s Michael Ray in <span><a
                        href="https://www.bkconnection.com/books/title/the-highest-goal">The Highest Goal.</a></span>
                Ask yourself why the question you chose seemed important or meaningful. Then ask why the reason you just
                gave is important—or why it’s a sticking point. And so on. By better understanding why a question really
                matters and what obstacles you might face in addressing it, you deepen your resolve and ability to do
                something about it and further broaden the territory of possible solutions. In the case of Odessa, the
                manager with a strategy to roll out, one breakthrough question—Could you recruit field leaders to
                communicate it locally?—provoked other questions: Why haven’t I done that in the past? Could I trust
                others to do this well? Why do I have a problem extending that trust?</p>
            <p>Finally, commit to pursuing at least one new pathway you’ve glimpsed—and do so as a <em>truth
                seeker.</em> I steal that term from NASA engineer Adam Steltzner’s account of working at the Jet
                Propulsion Laboratory, where the “right kind of crazy” people manage to accomplish things like landing a
                robotic rover on Mars. Set aside considerations of what might be more comfortable to conclude or easier
                to implement, and instead adopt an innovator’s focus on the <a
                        href="https://hbr.org/2016/09/know-your-customers-jobs-to-be-done">“job to be done”</a> and what
                it will take to get the problem solved. Devise a near-term action plan: What concrete actions will you
                personally take in the next three weeks to find potential solutions suggested by your new questions?</p>
            <p>After one question burst I helped facilitate, a chief marketing officer from a multidivisional company
                resolved to track down some facts. He had been wrestling with concerns about hypercompetitive behaviors
                in his business unit. In a question burst session he led with others, it dawned on him that he had been
                making a big assumption: that the founders of his division had chosen its unique compensation scheme to
                create a culture of internal rivalry. His to-do list started with getting on their calendars and asking
                them about this. Guess what? Not only was this not a culture they had aimed for, but they were dismayed
                to learn it existed. His meetings with them gave rise to a new emphasis on culture and values in the
                unit—and created the context in which the CMO could intervene and address toxic behaviors. The point
                here is that arriving at assumption-challenging questions is essential but never sufficient. An action
                plan and follow-up can clarify the problem and break open the pathway to change.</p>
            <h2>How Can We Make It a Habit?</h2>
            <p>I usually recommend doing at least three rounds of the question burst exercise for a given issue.
                Although it’s valuable as a one-off activity, the more you do it, the deeper you’ll go in your thinking.
                After the leader of a development team at a global software company did the exercise repeatedly, she
                came to the realization that her original conception of a problem was “superficial.” Through persistent
                questioning, she told me, she “arrived at a much more meaningful challenge to conquer.”</p>
            <div><p><span>Questioning is an innate behavior that’s actively subverted and shut down.</span></p></div>
            <p>Even with three rounds, the time investment is minimal. It’s an efficient path to fresh perspectives and
                creativity. The process will also get easier the more you do it. When people crank up their questioning
                activity for the first time with this approach, it feels strange because it’s out of line with
                established norms at work and in life. Since childhood, they’ve been conditioned not to ask
                questions.</p>
            <p>James T. Dillon, an education professor emeritus at the University of California, Riverside, spent a
                career <a
                        href="https://www.amazon.com/Questioning-Teaching-James-Thomas-Dillon/dp/1592447163/ref=mt_paperback?_encoding=UTF8&amp;me=">studying
                    this phenomenon</a> in classrooms. He was shocked by how rarely students asked questions—which are
                critical to learning. The problem wasn’t a lack of curiosity. “Every time that conditions have been
                provided for them (not by a mere pause, ‘Any questions? No? OK, open your books’), a flood of intriguing
                student questions has poured forth,” Dillon writes. When he surveyed other teachers about this, they
                almost universally agreed that “students indeed have questions but do not go on to ask them in class.”
                Why not? They’re afraid to do so, Dillon says, “largely because of their experience with negative
                reactions from the teacher (and from classmates).” They learn to keep their questions to themselves and
                to repeat back well-rehearsed answers when quizzed by their teachers, according to Tony Wagner, a senior
                fellow at the Learning Policy Institute. Other researchers—looking at arenas of human <a
                        href="http://journals.sagepub.com/doi/abs/10.1177/1461445608100941">learning and interaction</a>
                such as community forums, medical consultations, political institutions, and workplaces—have
                consistently come to the same conclusion: Questioning is an innate human behavior that’s actively
                subverted and systematically shut down.</p>
            <p>And power struggles don’t help matters. In social groups, dominant individuals inevitably emerge; left
                unchecked, they find ways to build and perpetuate their power. One common way to do this is to silence
                questioners—those pesky curious minds whose queries might suggest that the leader hasn’t quite figured
                it all out.</p>
            <p>Of course, many business leaders, recognizing the imperative for constant innovation, do try to encourage
                questions. But their employees have already internalized the habit of not asking them—especially the
                tough ones. We need to change this habit. That’s what my MIT colleague Robert Langer, the health care
                technology innovator who has been called the <a href="https://hbr.org/2017/03/the-edison-of-medicine">“Edison
                    of medicine,”</a> has been doing with his students and postdocs. <a
                        href="http://www.sciencemag.org/careers/2014/11/robert-langer-creating-things-could-change-world">In
                    a recent interview</a> he said: “When you’re a student, you’re judged by how well you answer
                questions. Somebody else asks the questions, and if you give good answers, you’ll get a good grade. But
                in life, you’re judged by how good your questions are.” As he mentors people, he explicitly focuses
                their attention on making this all-important transition, knowing “they’ll become great professors, great
                entrepreneurs—great something—if they ask good questions.”</p>
            <p>Organizations can raise their questioning quotient in various ways. For example, in my field experience,
                I’ve found that people become better questioners in environments where they’re encouraged to value
                creative friction in everyday work. At companies like Amazon, ASOS, IDEO, Patagonia, Pixar, Tesla, and
                Zappos, for example, people often come together to tackle challenges by asking one another tough
                questions—in hallways, lunchrooms, or even conference rooms. Research by management professors <a
                        href="https://gsm.ucdavis.edu/research/when-collections-creatives-become-creative-collectives-field-study-problem-solving-work">Andrew
                    Hargadon of UC Davis and Beth Bechky of NYU</a> shows that those volunteering ideas in such
                companies do not mindlessly spit back answers to the questions posed; they respectfully build on the
                comments and actions of others, considering “not only the original question but also whether there is a
                better question to be asked.” As they do this over and over, new solutions emerge.</p>
            <p>People also become better questioners in organizational cultures where they feel safe doggedly pursuing
                the truth, no matter where it takes them. To create such cultures, MIT’s Ed Schein says, leaders must
                show humility, vulnerability, and trust, and they must empower others and treat them equitably. When
                those conditions aren’t present, questions tend to be constrained or, worse, crushed.</p>
            <p>Interestingly, when I’ve facilitated question bursts with very large groups (broken down into subgroups
                of three to six people), I have noticed that the people least likely to engage in the exercise and
                follow the rules are the folks with the highest positions or greatest technical expertise. Whether they
                feel they’re above the exercise or worry that sharing problems will make them appear incompetent, they
                cripple the truth-seeking capability of the entire group as others watch them disengage or scoff at
                contributions. If that’s the example and tone leaders are setting in a single microcosmic exercise,
                imagine <a href="http://journals.sagepub.com/doi/abs/10.1111/j.1467-9280.2006.01824.x">the dampening
                    impact</a> they have on inquiry throughout their organizations.</p>
            <p>Finally, people must hold themselves accountable for follow-up. Few things are more annoying than a
                colleague who <em>only</em> asks questions. People must take responsibility for exploring the pathways
                those questions open up and discovering valuable answers. This is especially true for leaders. Everyone
                else is taking cues from them about when, where, how, and why the status quo should be challenged. They
                must carve out time to help gather and analyze newer, better, and different information. It’s a sign of
                ownership when leaders go out of their way to do that. It shows others that management is committed to
                crafting a future where questions count.</p>

        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}

    </article>
{% endblock %}
