{% extends "ss/base.html" %}

{% block content %}
    <article>
        <h1>While We Sleep, Our Mind Goes on an Amazing Journey</h1>
        <p><b>Nearly every night</b> of our lives, we undergo a startling metamorphosis.</p>
        <p {% if not paywall.show %} class="paytext" {% endif %}>
            Our brain profoundly alters its behavior and purpose, dimming our consciousness. For a while, we become
            almost entirely paralyzed. We can’t even shiver. Our eyes, however, periodically dart about behind
            closed lids as if seeing, and the tiny muscles in our middle ear, even in silence, move as though
            hearing. We are sexually stimulated, men and women both, repeatedly. We sometimes believe we can fly. We
            approach the frontiers of death. We sleep.
        </p>
        {% if paywall.show %}

            <div>
                <p>Around 350 B.C., Aristotle wrote an essay, “On Sleep and Sleeplessness,” wondering just what we were
                    doing and why. For the next 2,300 years no one had a good answer. In 1924 German psychiatrist Hans
                    Berger invented the electroencephalograph, which records electrical activity in the brain, and <a
                            href="https://www.nationalgeographic.com/magazine/2010/05/sleep">the study of sleep</a>
                    shifted from philosophy to science. It’s only in the past few decades, though, as imaging machines
                    have allowed ever deeper glimpses of the brain’s inner workings, that we’ve approached a convincing
                    answer to Aristotle.</p></div>
            <p>Everything we’ve learned about sleep has emphasized its importance to our mental and physical health. Our
                sleep-wake pattern is a central feature of human biology—an adaptation to life on a spinning planet,
                with its endless wheel of day and night. The 2017 <a
                        href="https://news.nationalgeographic.com/2017/10/nobel-prize-facts-secrets-history-science">Nobel
                    Prize</a> in medicine was awarded to three scientists who, in the 1980s and 1990s, identified the
                molecular clock inside our cells that aims to keep us in sync with the sun. When this circadian rhythm
                breaks down, recent research has shown, we are at increased risk for illnesses such as diabetes, heart
                disease, and dementia.</p>

            <p>Yet an imbalance between lifestyle and sun cycle has become epidemic. “It seems as if we are now living
                in a worldwide test of the negative consequences of sleep deprivation,” says Robert Stickgold, director
                of the Center for Sleep and Cognition at Harvard Medical School. The average American today sleeps less
                than seven hours a night, about two hours less than a century ago. This is chiefly due to the
                proliferation of electric lights, followed by televisions, computers, and smartphones. In our restless,
                floodlit society, we often think of sleep as an adversary, a state depriving us of productivity and
                play. <a
                        href="https://news.nationalgeographic.com/news/2011/02/pictures/110211-thomas-edison-google-doodle-164th-birthday-anniversary-science">Thomas
                    Edison</a>, who gave us light bulbs, said that “sleep is an absurdity, a bad habit.” He believed
                we’d eventually dispense with it entirely.</p>


            <p>A full night’s sleep now feels as rare and old-fashioned as a handwritten letter. We all seem to cut
                corners, fighting insomnia through sleeping pills, guzzling coffee to slap away yawns, ignoring the
                intricate journey we’re designed to take each evening. On a good night, we cycle four or five times
                through several stages of sleep, each with distinct qualities and purpose—a serpentine, surreal descent
                into an alternative world.</p>

            <p>
            </p><h2>Stages 1-2</h2><p></p>
            <p><i>As we fall into sleep, our brain stays active and fires into its editing process—deciding which
                memories to keep and which ones to toss.</i></p>
            <p>The initial transformation happens quickly. The human body does not like to stall between states,
                lingering in doorways. We prefer to be in one realm or another, awake or asleep. So we turn off the
                lights and lie in bed and shut our eyes. If our circadian rhythm is pegged to the flow of daylight and
                dark, and if the pineal gland at the base of our brain is pumping melatonin, signaling it’s nighttime,
                and if an array of other systems align, our neurons swiftly fall into step.</p>
            <p>Neurons, some 86 billion of them, are the cells that form the World Wide Web of the brain, communicating
                with each other via electrical and chemical signals. When we’re fully awake, neurons form a jostling
                crowd, a cellular lightning storm. When they fire evenly and rhythmically, expressed on an
                electroencephalogram, or EEG, by <a
                        href="https://video.nationalgeographic.com/video/news/180228-albert-lin-brain-waves-visualization-vin-spd">neat
                    rippled lines</a>, it indicates that the brain has turned inward, away from the chaos of waking
                life. At the same time, our sensory receptors are muffled, and soon we’re asleep.</p>

            <p>Scientists call this stage 1, the shallow end of sleep. It lasts maybe five minutes. Then, ascending from
                deep in the brain, comes a series of electric sparks that zap our cerebral cortex, the pleated gray
                matter covering the outer layer of the brain, home of language and consciousness. These half-second
                bursts, called spindles, indicate that we’ve entered stage 2.</p>
            <p>Our brains aren’t less active when we sleep, as was long thought, just differently active. Spindles, it’s
                theorized, stimulate the cortex in such a way as to preserve recently acquired information—and perhaps
                also to link it to established knowledge in long-term memory. In sleep labs, when people have been
                introduced to certain new tasks, mental or physical, their spindle frequency increases that night. The
                more spindles they have, it seems, the better they perform the task the next day.</p>
            <p>The strength of one’s nightly spindles, some experts have suggested, might even be a predictor of general
                intelligence. Sleep literally makes connections you might never have consciously formed, an idea we’ve
                all intuitively realized. No one says, “I’m going to eat on a problem.” We always sleep on it.</p>

            <p>The waking brain is optimized for collecting external stimuli, the sleeping brain for consolidating the
                information that’s been collected. At night, that is, we switch from recording to editing, a change that
                can be measured on the molecular scale. We’re not just rotely filing our thoughts—the sleeping brain
                actively curates which memories to keep and which to toss.</p>
            <p>It doesn’t necessarily choose wisely. Sleep reinforces our memory so powerfully—not just in stage 2,
                where we spend about half our sleeping time, but throughout the looping voyage of the night—that it
                might be best, for example, if exhausted soldiers returning from harrowing missions did not go directly
                to bed. To forestall <a href="https://www.nationalgeographic.com/healing-soldiers/">post-traumatic
                    stress disorder</a>, the soldiers should remain awake for six to eight hours, according to
                neuroscientist Gina Poe at the University of California, Los Angeles. Research by her and others
                suggests that sleeping soon after a major event, before some of the ordeal is mentally resolved, is more
                likely to turn the experience into long-term memories.</p>
            <p>Stage 2 can last up to 50 minutes during the night’s first 90-minute sleep cycle. (It typically occupies
                a smaller portion of subsequent cycles.) Spindles can arrive every few seconds for a while, but when
                these eruptions taper off, our heart rate slows. Our core temperature drops. Any remaining awareness of
                the external environment disappears. We commence the long dive into stages 3 and 4, the deep parts of
                sleep.</p>

            <p>
            </p><h2>Stages 3-4</h2><p></p>
            <p><i>We enter a deep, coma-like sleep that is as essential to our brain as food is to our body. It’s a time
                for physiological housekeeping—not for dreaming.</i><b></b></p>
            <p><a href="https://www.nationalgeographic.com/photography/proof/2018/04/pictures-of-animals-sleeping">Every
                animal</a>, without exception, exhibits at least a primitive form of sleep. <a
                    href="https://www.nationalgeographic.com/animals/mammals/group/three-toed-sloths">Three-toed
                sloths</a> snooze about 10 hours a day, a disappointing display of languor, but some fruit bats manage
                15 hours, and little brown bats have been reported to laze for 20. <a
                        href="https://www.nationalgeographic.com/animals/mammals/g/giraffe">Giraffes</a> sleep less than
                five. Horses typically sleep part of the night standing up and part lying down. <a
                        href="https://video.nationalgeographic.com/video/160330-specials-fbtos-dolphin-sleep">Dolphins
                    sleep</a> one hemisphere at a time—half the brain sleeps while the other half is awake, allowing
                them to swim continuously. Great frigatebirds can nap while gliding, and other birds may do the same. <a
                        href="https://www.nationalgeographic.com/animals/fish/n/nurse-shark">Nurse sharks</a> rest in a
                pile on the ocean floor. Cockroaches lower their antennae while napping, and they’re also sensitive to
                caffeine.</p>
            <p>Sleep, defined as a behavior marked by diminished responsiveness and reduced mobility that is easily
                disrupted (unlike hibernation or coma), exists in creatures without brains at all. <a
                        href="https://news.nationalgeographic.com/2018/05/life-without-brains-smart-slime-molds-plants-jellyfish-osr-science">Jellyfish
                    sleep</a>, the pulsing action of their bodies noticeably slowing, and one-celled organisms such as
                plankton and yeast display clear cycles of activity and rest. This implies that sleep is ancient and
                that its original and universal function is not about organizing memories or promoting learning but more
                about the preservation of life itself. It’s evidently natural law that a creature, no matter the size,
                cannot go full throttle 24 hours a day.</p>
            <p>“Being awake is demanding,” says Thomas Scammell, a neurology professor at Harvard Medical School.
                “You’ve got to go out there and outcompete every other organism to survive, and the consequences are
                that you need a period of rest to help cells recuperate.”</p>

            <p>For humans this happens chiefly during deep sleep, stages 3 and 4, which differ in the percentage of
                brain activity that’s composed of big, rolling delta waves, as measured on an EEG. In stage 3, delta
                waves are present less than half the time; in stage 4, more than half. (Some scientists consider the two
                to be a single deep-sleep stage.) It’s in deep sleep that our cells produce most growth hormone, which
                is needed throughout life to service bones and muscles.</p>
            <p>There is further evidence that sleep is essential for maintaining a healthy immune system, body
                temperature, and blood pressure. Without enough of it, we can’t regulate our moods well or recover
                swiftly from injuries. Sleep may be more essential to us than food; animals will die of sleep
                deprivation before starvation, says Steven Lockley of Brigham and Women’s Hospital in Boston.</p>
            <p>Good sleep likely also reduces one’s risk of developing dementia. A study done in mice by Maiken
                Nedergaard at the University of Rochester, in New York, suggests that while we’re awake, our neurons are
                packed tightly together, but when we’re asleep, some brain cells deflate by 60 percent, widening the
                spaces between them. These intercellular spaces are dumping grounds for the cells’ metabolic
                waste—notably a substance called beta-amyloid, which disrupts communication between neurons and is
                closely linked to <a
                        href="https://news.nationalgeographic.com/2018/02/alzheimers-disease-beta-amyloid-plaques-mice-study-health-science">Alzheimer’s</a>.
                Only during sleep can spinal fluid slosh like detergent through these broader hallways of our brain,
                washing beta-amyloid away.</p>


            <p>While all this housekeeping and repair occurs, our muscles are fully relaxed. Mental activity is minimal:
                Stage 4 waves are similar to patterns produced by coma patients. We do not typically dream during stage
                4; we may not even be able to feel pain. In Greek mythology the gods Hypnos (sleep) and Thanatos (death)
                are twin brothers. The Greeks may have been right.</p>
            <p>“You’re talking about a level of brain deactivation that is really rather intense,” says Michael Perlis,
                the director of the Behavioral Sleep Medicine program at the University of Pennsylvania. “Stage 4 sleep
                is not far removed from coma or brain death. While recuperative and restorative, it’s not something
                you’d want to overdose on.”</p>
            <p>At most, we can remain in stage 4 for only about 30 minutes before the brain kicks itself out. (In
                sleepwalkers at least, that shift can be accompanied by a bodily jerk.) We often sail straight through
                stages 3, 2, and 1 into awakeness.</p>
            <p>Even healthy sleepers wake several times a night, though most don’t notice. We drop back to sleep in a
                matter of seconds. But at this point, rather than repeating the stages again, the brain resets itself
                for something entirely new—a trip into the truly bizarre.</p>

            <p><b>According to the</b> U.S. Centers for Disease Control and Prevention, more than 80 million American
                adults are chronically sleep deprived, meaning they sleep less than the recommended minimum of seven
                hours a night. Fatigue contributes to more than a million auto accidents each year, as well as to a
                significant number of medical errors. Even small adjustments in sleep can be problematic. The Monday
                after a daylight saving time change in the U.S., there’s a 24 percent increase in heart attacks,
                compared with other Mondays, and a jump in fatal car crashes too.</p>
            <p>During our lifetimes, about a third of us will suffer from at least one diagnosable sleep disorder. They
                range from chronic insomnia to sleep apnea to restless leg syndrome to much rarer and stranger
                conditions.</p>
            <p>In exploding head syndrome, booming sounds seem to reverberate in your brain as you try to sleep. A
                Harvard study found that sleep paralysis—the inability to move for a few minutes after you’ve woken from
                dreaming—is the genesis of many alien abduction stories. People with Kleine-Levin syndrome will, every
                few years, sleep nearly nonstop for a week or two. They return to regular cycles of consciousness
                without any discernible side effects.</p>
            <p>Insomnia is by far the most common problem, the main reason 4 percent of U.S. adults take sleeping pills
                in any given month. Insomniacs generally take longer to fall asleep, wake up for prolonged periods
                during the night, or both. If sleep is such a ubiquitous natural phenomenon, refined across the eons,
                you might wonder, why do so many of us have such trouble with it? Blame evolution; blame the modern
                world. Or blame the mismatch between the two.</p>


            <p>Evolution endowed us, like other creatures, with sleep that is malleable in its timing and readily
                interruptible, so it can be subordinated to higher priorities. The brain has an override system,
                operating in all stages of sleep, that can rouse us when it perceives an emergency—the cry of a child,
                say, or the footfall of an approaching predator.</p>
            <p>The problem is that in the modern world, our ancient, innate wake-up call is constantly triggered by
                non–life-threatening situations, like anxiety before an exam, worries about finances, or every car alarm
                in the neighborhood. Before the industrial revolution, which brought us alarm clocks and fixed work
                schedules, we could often counteract insomnia simply by sleeping in. No longer. And if you’re one of
                those people who are proud of being able to fall asleep quickly just about anywhere, you can stop
                gloating—it’s a distinct sign, especially if you’re less than 40 years old, that you’re acutely sleep
                deprived.</p>
            <p>The first segment of the brain that begins to fizzle when we don’t get enough sleep is the prefrontal
                cortex, the cradle of decision-making and problem-solving. Underslept people are more irritable, moody,
                and irrational. “Every cognitive function to some extent seems to be affected by sleep loss,” says
                Chiara Cirelli, a neuroscientist at the Wisconsin Institute for Sleep and Consciousness. Sleep-deprived
                suspects held by the police, it’s been shown, will confess to anything in exchange for rest.</p>
            <p>Anyone who regularly sleeps less than six hours a night has an elevated risk of depression, psychosis,
                and stroke. Lack of sleep is also directly tied to obesity: Without enough sleep, the stomach and other
                organs overproduce ghrelin, the hunger hormone, causing us to eat more than we need. Proving a
                cause-and-effect relationship in these cases is challenging, because you can’t subject humans to the
                necessary experiments. But it’s clear that sleeplessness undermines the whole body.</p>
            <p>Power naps don’t solve the problem; nor do pharmaceuticals. “Sleep is not monolithic,” says Jeffrey
                Ellenbogen, a sleep scientist at Johns Hopkins University who directs the Sound Sleep Project, which
                counsels businesses on how their employees can achieve better performance through healthier rest. “It’s
                not a marathon; it’s more like a decathlon. It’s a thousand different things. It’s tempting to
                manipulate sleep with drugs or devices, but we don’t yet understand sleep enough to risk artificially
                manipulating the parts.”</p>

            <p>Ellenbogen and other experts argue against shortcuts, especially the original one—the notion that we can
                mostly do without sleep. It was a glorious idea: If we could just cut the unnecessary parts of sleep,
                it’d be like adding decades to our life. In the early days of sleep science, the 1930s and ’40s, the
                second half of the night was considered by some to be the doldrums of rest. Some thought we might not
                need it at all.</p>
            <p>That period turns out, instead, to be the wellspring of a completely separate but just as essential form
                of sleep, practically another type of consciousness altogether.</p>
            <p>
            </p><h2>REM</h2><p></p>
            <p><i>In a wild state of psychosis, we’re dreaming, we’re flying, and we’re falling—whether we remember it
                or not. we’re also regulating our mood and consolidating our memories.</i></p>
            <p>Rapid eye movement, or REM, sleep was discovered in 1953—more than 15 years after stages 1 through 4 had
                been mapped—by Eugene Aserinsky and Nathaniel Kleitman at the University of Chicago. Before then,
                because of its unremarkable pattern on early EEGs, this period was usually thought of as a variant form
                of stage 1, and not particularly significant. But once the distinctive eye darting was documented, and
                the engorgement of sexual organs that always goes with it, and it was understood that virtually all <a
                        href="https://www.nationalgeographic.com/magazine/2017/05/explore-dream-mapping">vivid
                    dreaming</a> takes place in this phase, the science of sleep was upended.</p>

            <p>Generally, a healthy sleep begins with a spiral down to stage 4, a momentary return to wakefulness, and a
                five- to 20-minute REM session. With each ensuing cycle, REM time roughly doubles. Overall, REM sleep
                occupies about one-fifth of total rest time in adults. Yet stages 1 through 4 have been labeled as
                non-REM sleep, or NREM—80 percent of sleep is defined by what it’s not. Sleep scientists speculate that
                specific sequences of NREM and REM sleep somehow optimize our physical and mental recuperation. At the
                cellular level, protein synthesis peaks during REM sleep, keeping the body working properly. REM sleep
                also seems essential for regulating mood and consolidating memories.</p>
            <p>Every time we experience REM sleep, we literally go mad. By definition, psychosis is a condition
                characterized by hallucinations and delusions. Dreaming, some sleep scientists say, <i>is</i> a
                psychotic state—we fully believe that we see what is not there, and we accept that time, location, and
                people themselves can morph and disappear without warning.</p>
            <p>From ancient Greeks to Sigmund Freud to back-alley fortune-tellers, dreams have always been a source of
                enchantment and mystery—interpreted as messages from the gods or our unconscious. Today many sleep
                experts aren’t interested in the specific images and events in our dreams. They believe that dreams
                result from the chaotic firing of neurons and, even if imbued with emotional resonance, are devoid of
                significance. It’s only after we wake that the conscious brain, seeking meaning, quickly stitches
                together a whole cloth out of haphazard scraps.</p>
            <p>Other sleep scientists strongly disagree. “The content of dreams,” says Stickgold of Harvard, “is part of
                an evolved mechanism for looking at the larger significance of new memories and how they could be useful
                in the future.”</p>
            <p>Even if you never recall a single image, you still dream. Everyone does. Lack of dream recollection is
                actually an indication of a healthy sleeper. The action in dream sleep takes place too deep in the brain
                to register well on an EEG, but with newer technology, we’ve inferred what’s going on, physically and
                chemically. Dreams also occur in NREM sleep, especially stage 2, but these are generally thought to be
                more like overtures. Only in REM sleep do we encounter the full potent force of our nighttime
                madness.</p>
            <p>Dreams, often falsely said to be just momentary flashes, are instead thought to span almost all of REM
                sleep, typically about two hours per night, though this decreases as we age—perhaps because our less
                pliant brains are not learning as much while awake and have fewer new memories to process as we sleep.
                Newborn infants sleep up to 17 hours a day and spend about half of that in an active, REM-like
                condition. And for about a month in the womb, starting at week 26 of gestation, it seems that fetuses
                remain without pause in a state very similar to REM sleep. All this REM time, it has been theorized, is
                the equivalent of the brain testing its software, preparing to come fully on line. The process is called
                telencephalization. It’s nothing less than the opening of the mind.</p>
            <p>The body doesn’t thermoregulate in REM sleep; our internal temperature remains at its lowest setting. We
                are truly out cold. Our heart rate increases compared with other sleep stages, and our breathing is
                irregular. Our muscles, with a few exceptions—eyes, ears, heart, diaphragm—are immobilized. Sadly, this
                doesn’t keep some of us from snoring; this bane of the bed partner, impetus for hundreds of anti-snoring
                gadgets, is caused when turbulent airflow vibrates the relaxed tissues of the throat or nose. It’s
                common in stages 3 and 4 too. In REM sleep, whether snoring or not, we’re completely incapable of
                physical response, slack-jawed, unable to regulate even our blood pressure. Yet our brain is able to
                convince us that we’re surfing on clouds, slaying dragons.</p>

            <p>Belief in the unbelievable happens because in REM sleep, stewardship of the brain is transferred away
                from the logic centers and impulse-control regions. Production of two specific chemicals, serotonin and
                norepinephrine, is completely shut off. Both are essential neurotransmitters, permitting brain cells to
                communicate, and without them, our ability to learn and remember is severely impaired—we’re in a
                chemically altered state of consciousness. But it’s not a coma-like state, as in stage 4. Our brain
                during REM sleep is fully active, guzzling as much energy as when we’re awake.</p>
            <p><b>REM sleep is</b> ruled by the limbic system—a deep-brain region, the untamed jungle of the mind, where
                some of our most savage and base instincts arise. Freud was right, in effect, that dreams do tap our
                primitive emotions. The limbic system is home to our sex drive, aggression, and fear, though it also
                allows us to feel elation and joy and love. While it sometimes seems as if we have more nightmares than
                pleasant dreams, this probably isn’t true. Frightening dreams are simply more likely to trigger our
                override system and wake us.</p>
            <p>Down in the brain stem, a little bulge called the pons is supercharged during REM sleep. Electrical
                pulses from the pons often target the part of the brain that controls muscles in the eyes and ears. Our
                lids usually remain shut, but our eyeballs bounce from side to side, possibly in response to the
                intensity of the dream. Our inner ears too are active while we dream.</p>

            <p>So are the parts of the brain that generate motion—which is why there’s frequently a sense of flying or
                falling in dreams. We dream, as well, in full color, unless we’ve been blind from birth, in which case
                dreams do not have visual imagery but remain emotionally intense. Men’s and women’s dreams seem to be
                similar in emotional content. Every time a man dreams, even if the content isn’t sexual, he has an
                erection; in women, blood vessels in the vagina are engorged. And while we dream, no matter how absurd,
                despite all transgressions against the laws of physics, we’re almost always convinced we’re awake. The
                ultimate virtual-reality machine resides inside our head.</p>

            <p>Thank goodness we’re paralyzed. When you dream, your brain is actually trying to produce movements, but a
                system in the brain stem completely shuts down the motor-neuron gate. There’s a parasomnia—a sleep
                abnormality that affects the nervous system—called REM behavior disorder in which the gate does not
                fully lower, and people act out their dreams in spectacular fashion, punching, kicking, swearing, all
                while their eyes are closed and they’re fully asleep. This often results in injuries to the sleeper and
                his or her bedmate.</p>
            <p>The end of a REM session, like the end of stage 4, is usually marked with a brief awakening. If we rest
                naturally, without an alarm clock, our last dream of the night often concludes our sleep. Though the
                amount of time we’ve been asleep helps determine the optimal moment to wake, daylight has immediate
                alerting properties. When light seeps through our eyelids and touches our retinas, a signal is sent to a
                deep-brain region called the suprachiasmatic nucleus. This is the time, for many of us, that our last
                dream dissolves, we open our eyes, and we rejoin our real life.</p>
            <p><b>Or do we? </b>Perhaps the most remarkable thing about REM sleep is that it proves the brain can
                operate independently of sensory input. Like an artist ensconced in a secret studio, our mind appears to
                experiment without inhibition, let loose on its own personal mission.</p>
            <p>When we’re awake, the brain is occupied with busy work—all those limbs to control, the constant driving
                and shopping and texting and talking. The money-earning, the child-rearing.</p>

            <p>But when we’re sleeping, and we commence our first REM session, the most elaborate and complex instrument
                known in the universe is free to do what it wishes. It self-activates. It dreams. This, one could say,
                is the playtime of the brain. Some sleep theorists postulate that REM sleep is when we are our most
                intelligent, insightful, creative, and free. It’s when we truly come alive. “REM sleep may be the thing
                that makes us the most human, both for what it does for the brain and body, and for the sheer experience
                of it,” says Michael Perlis.</p>
            <p>Maybe, then, we’ve been asking the wrong question about sleep, ever since Aristotle. The real wonder
                isn’t why we sleep. It’s why, with such an incredible alternative available, do we bother to stay
                awake?</p>
            <p>And the answer might be that we need to attend to the basics of life—the eating and mating and
                fighting—only to ensure that the body is fully ready for sleep.</p>



        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}

    </article>
{% endblock %}
