{% extends "ss/base.html" %}

{% block content %}
    <article>
        <h1>Does Depression Have an Evolutionary Purpose?</h1>
        <div data-index="0"><p><img id="image_1"
                                    src="https://pocket-image-cache.com/direct?resize=w2000&amp;url=http%3A%2F%2Fstatic.nautil.us%2F11592_f57a221f4a392b9265d14c4835bc2544.png"
                                    moz-reader-center="true"></p>
            <p><i><span>Illustration by Daniel Zender</span></i></p></div>
        <p {% if not paywall.show %} class="paytext" {% endif %}>
            <b><span data-highlightable="1">I</span> had a tough time</b> in high school. Like many other young
            adolescents, I saw myself as fundamentally flawed, and felt a searing isolation. Nothing I looked
            forward to brought any hope. I stopped getting out of bed. I cut myself. I drafted a suicide note.
            It was a terrible time that I wouldn’t wish on anyone. But in a strange way, my self-destructive behavior
            may have had a benefit. I eventually dropped clues about my situation, leading to an intervention that put
            me on a better track. I was hospitalized. It scared me straight, highlighting a pathway of suffering I no
            longer wanted to indulge. I went back on medication and did what it took to stay at my school.

        </p>
        {% if paywall.show %}

            <p>

                It was a terrible time that I wouldn’t wish on anyone. But in a strange way, my self-destructive
                behavior
                may have had a benefit. I eventually dropped clues about my situation, leading to an intervention that
                put
                me on a better track. I was hospitalized. It scared me straight, highlighting a pathway of suffering I
                no
                longer wanted to indulge. I went back on medication and did what it took to stay at my school.

            </p>
            <div data-index="1"><p><img id="image_2"
                                        src="https://pocket-image-cache.com/direct?resize=w2000&amp;url=http%3A%2F%2Fstatic.nautil.us%2F11595_498bce62bd2bda584246701fa0166482.jpg">
            </p>
                <p><i><span data-highlightable="1" class="caption"><span data-highlightable="1">Costly Signal: According to the bargaining model of suicidality, an attempt to take one’s own life is a costly, and therefore honest, signal to one’s network—characteristics shared by a peacock’s tail.</span><span
                        data-highlightable="1"></span></span><span data-highlightable="1">&nbsp;Photo by <span>Angela Nicholson/PhotoPlus Magazine via Getty Images</span></span></i>
                </p></div><p>

            One in six Americans will suffer a major depressive disorder at some point in life.<sup>1</sup> That
            word—disorder—characterizes how most of us see depression. It’s a breakdown, a flaw in the system, something
            to be remedied and moved past.

        </p><p>

            Some psychologists, however, have argued that depression is not a dysfunction at all, but an evolved
            mechanism designed to achieve a particular set of benefits. I’ve certainly considered whether it’s done that
            for me, both in high school and later in life. If they’re right, it means that our thinking about depression
            needs an intervention too.

        </p><p><b><span data-highlightable="1">T</span>heories about the evolutionary</b> function of depression are
            numerous.<sup data-highlightable="1">2</sup> One of the most popular current ideas is the analytical
            rumination hypothesis. This idea was described most thoroughly in a long 2009 article by Paul Andrews, an
            evolutionary psychologist now at McMaster University, and J. Anderson Thomson, a psychiatrist at the
            University of Virginia Student Health Services.<sup data-highlightable="1">3</sup> Andrews had noted that
            the physical and mental symptoms of depression appeared to form an organized system. There is anhedonia, the
            lack of pleasure or interest in most activities. There’s an increase in rumination, the obsessing over the
            source of one’s pain. There’s an increase in certain types of analytical ability. And there’s an uptick in
            REM sleep, a time when the brain consolidates memories.

        </p><p>

            Andrews sees these symptoms as a nonrandom assortment betraying evolutionary design. After all, why would a
            breakdown produce so synchronized a set of responses? And that design’s function, he argues, is to pull us
            away from the normal pursuits of life and focus us on understanding or solving the one underlying problem
            that triggered the depressive episode—say, a failed relationship. If something is broken in your life, you
            need to bear down and mend it. In this view, the disordered and extreme thinking that accompanies
            depression, which can leave you feeling worthless and make you catastrophize your circumstances, is needed
            to punch through everyday positive illusions and focus you on your problems. In a study of 61 depressed
            subjects, 4 out of 5 reported at least one upside to their rumination, including self-insight, problem
            solving, and the prevention of future mistakes.<sup>4</sup></p>
            <blockquote><p id="iwavi">

                “It may be best to let depression work its miserable magic, under protective supervision.”

            </p></blockquote><p>

            “Most episodes of depression end on their own—something known as spontaneous remission—and Paul may have an
            explanation for just how that happens,” says Steven Hollon, a professor of psychology at Vanderbilt
            University. Further, “cognitive behavioral and problem-solving therapies may work precisely because they tap
            into and accelerate—in a matter of weeks—the very processes that have evolved to occur over the space of
            months.”

        </p><p>

            Even suicidal behavior might serve a design function. A small minority of researchers believe that we may
            have evolved to, under the right conditions, try to kill ourselves. Edward Hagen, an anthropologist at
            Washington State University, is one of the most vocal supporters of this idea, and he presented fresh
            support for it in the May 2016 issue of <i>Evolution and Human Behavior</i>.<sup>5</sup> He and two WSU
            collaborators, Kristen Syme and Zachary Garfield, set out to find evidence for two models of suicidal
            behavior, each of which cast suicide as a strategic behavior.

        </p><p>

            The first model is called inclusive fitness, and it relies on the notion of the “selfish gene”: The most
            basic unit of reproduction in natural selection is not the individual organism but the gene. Your genes
            don’t care if you survive to reproduce, as long as they do, and they exist in more people than just you. So
            they might lead you, their host organism, to sacrifice yourself if it sufficiently benefits your family
            members, who share many of your genes. Hence, people seek to maximize not only their own fitness but,
            inclusively, that of their kin too. Most parents would decide in an instant to jump in front of a bus to
            save their children. And in studies of suicidal thinking, people frequently speak about not wanting to be a
            burden.

        </p><p>

            The second strategic model of suicidality is the bargaining model, which relies on the notion of “costly
            signaling.”<sup>6</sup> A colorful example of costly signaling is the peacock. Managing a big, eye-catching
            tail is costly, in that it wastes energy and draws predators. But the fitter a peacock, the less costly a
            big tail, and so big tails have evolved to signal genetic fitness to peahens. They are attractive not
            despite their costliness but because of it. In addition to communicating fitness, costly signals can also
            communicate need. Consider baby birds. They don’t need to chirp for food if their mother is right there, and
            chirping attracts predators, making it costly. But the more hungry or sickly a chick is, the less it has to
            lose by being eaten, and the more it has to gain by being fed. So chirping louder is an honest signal of
            greater need for food, and the mother responds. (Anthropologists and psychiatrists have long framed suicide
            attempts as cries for help, but considered them pathological forms of pleading rather than the results of
            context-sensitive and evolved cost-benefit analyses.) Whereas the goal of suicidality in the inclusive
            fitness model is death, the goal in the bargaining model is help. Crucially, the vast majority of suicide
            attempts are not fatal.

        </p>
            <blockquote><p id="ickmj">

                A small minority of researchers believe that we may have evolved to, under the right conditions, try to
                kill ourselves.

            </p></blockquote><p>

            With these models in hand, Hagen and his colleagues analyzed 474 ethnographic records describing suicidal
            behavior in 53 diverse cultures around the world, looking for clues consistent (or inconsistent) with each
            model. Supporting the inclusive fitness story, 1 in 3 cultures had a record describing a suicide victim as a
            burden to others. In a few records, the victim was described as having low reproductive potential (due to
            advanced age or poor health), and in a few the victim’s survivors were described as being better off after a
            death. Against the model, however, many more records described family members as being worse off, and many
            victims were healthy.

        </p><p>

            In support of the bargaining model was the fact that those who had attempted suicide were often healthy,
            their attempts were often public and unsuccessful, and they often benefited. Three observations were most
            telling: First, victims had often suffered a threatening event, such as loss of a mate or resources, whose
            long-term repercussions depended on how others responded. Second, victims were often personally powerless.
            Third, they were often in conflict with those around them, thus looking for a bargaining tool. Overall,
            victims needed help solving a critical problem and weren’t receiving it. The authors provide a paradigmatic
            example of the bargaining model from a 1958 study of a people in Papua New Guinea:

        </p><p id="i9dj1">

            Attempted suicide is punishable by a beating administered by the woman’s owner. Facts: The girl was being
            forced to marry a man she did not like. She attempted suicide several times in order to prevent the
            marriage. She was always saved from the river or captured on its bank. Outcome: Every time she attempted a
            suicide, she was beaten severely afterward. Since she did not stop, her brother and father consented to her
            marriage with Jok, whom she loved.

        </p><p>

            Hagen and his co-authors concluded that both inclusive fitness and bargaining are viable models of
            suicidality, each applying in different circumstances. “Hagen has proposed some really interesting and
            compelling theoretical models that fit with available data and may help to explain suicidal behavior from an
            evolutionary perspective—a long-standing puzzle in the field,” says Matthew K. Nock, an expert on suicide
            and self-injury at Harvard University. The evidence in the paper is not a clincher for either
            model—evolutionary theories, while often powerful, can also be slippery—but a few other studies lend
            additional tentative support to the bargaining model.

        </p>
            <div data-index="2"><p><img id="image_3"
                                        src="https://pocket-image-cache.com/direct?resize=w2000&amp;url=http%3A%2F%2Fstatic.nautil.us%2F11596_711c6c3a8e58e31089c6ceb3242d8aff.jpg">
            </p>
                <p><i>Photo12/UIG/Getty Images</i></p></div><p>

            The bargaining model might also help explain why women are twice as likely as men to suffer depression. In a
            2016 paper, Hagen and Tom Rosenström, a psychologist at the University of Helsinki, analyzed data on 4,192
            American adults from an ongoing study by the CDC.<sup>9</sup> They hypothesized that because men are
            physically stronger than women, they’re more likely than women are to use anger as a bargaining tactic in
            social conflicts, whereas women are more likely to rely on depression. The data showed that people with
            greater upper body strength were less likely to suffer depression. What’s more, once the researchers took
            the effect of physical strength out of the equation, men and women were equally likely to be depressed.
            Hagen has written about post-partum depression in terms of costly signaling: A mother’s loss of interest in
            the health of herself or her newborn can act as leverage, recruiting the assistance of an insufficiently
            helpful mate or community.<sup>10</sup> Depression appears to be a tool (conscious or unconscious) for those
            who can’t muscle the support they need.

        </p><p><b><span data-highlightable="1">S</span>o what should we do</b>, based on these evolutionary models of
            depression? “I’m a bit hesitant to give advice based on my theories,” Hagen says, “because that would assume
            that my theories are true and therefore we’re ready to take this knowledge out of the lab and apply it
            clinically. I don’t think we’re at that point yet.” And if his theories are true, the picture is somewhat
            bleak, he says, in that there’s no easy fix. Treating depression will likely require resolving severe
            conflicts between you and your family, situations with no good guy and bad guy. In terms of therapy,
            clinicians might bring in patients’ family members to work through issues together, but many already do
            that—“So in practice a lot of what I’m saying isn’t radical,” he says.

        </p><p>

            These theories do cast some of our traditional responses to depression in a new light, however. If
            depression is a strategic response that we are programmed to carry out, consciously or unconsciously, does
            it make sense to try to suppress its symptoms through, say, the use of antidepressants? Hagen describes
            antidepressants as painkillers, arguing that it would be unethical for a doctor to treat a broken ankle with
            Percocet and no cast. You need to fix the underlying problem. He regrets the fact that the DSM, psychiatry’s
            diagnostic manual, has removed from major depressive disorder’s diagnostic criteria any exception for life
            circumstance, even bereavement. This is part of an effort to make diagnosis more objective and scientific,
            and encourage the profession to focus on observable symptoms rather than causes.<sup>11</sup></p>
            <blockquote><p id="il6td">

                Even if depression evolved as a useful tool over the eons, that doesn’t make it useful today.

            </p></blockquote><p>

            But in the case of depression, which often has clear preceding events, indifference to causality allows many
            appropriate patient responses to be categorized as disordered—and that flows directly from seeing depression
            as a breakdown rather than a strategic, evolved response. Prescribing antidepressants may improve a
            patient’s mood, but in the process prevent the patient from solving the underlying conflict and improving
            his or her mood even more in the long run. Depression usually doesn’t appear out of nowhere. It’s typically
            a response to adversity, with up to 80 percent of cases following major life events. The death of a woman’s
            close relative, for instance, was measured to increase their chances of suffering depression within the next
            month by 20 times.

        </p><p>

            The battleground over depression’s functionality may lie in those 20 percent of episodes without an obvious
            trigger. Perhaps you could say there’s some nonobvious cause, a conflict lurking in one’s psyche or latent
            in one’s family life. Thomas Joiner, an expert on suicide at Florida State University, says that “as
            episodes accrue, it can be harder and harder to find the trigger, but it’s usually there—triggers can be
            things like memories.” But since you can always point to something in your past with potential psychic
            consequences—that one time you got teased on the playground—the hypothesis that depression is an appropriate
            response to a stressful situation becomes nearly impossible to test objectively.

        </p><p>

            There’s another big caveat. Even if depression evolved as a useful tool over the eons, that doesn’t make it
            useful today. We’ve evolved to crave sugar and fat, but that adaptation is mismatched with our modern
            environment of caloric abundance, leading to an epidemic of obesity. Depression could be a mismatched
            condition. Hagen concedes that for most of evolution, we lived with relatives and spent all day with people
            ready to intervene in our lives, so that episodes of depression might have led to quick solutions. Today,
            we’re isolated, and we move from city to city, engaging with people less invested in our reproductive
            fitness. So depressive signals may go unheeded and then compound, leading to consistent, severe dysfunction.
            A Finnish study found that as urbanization and modernization have increased over the last two centuries, so
            have suicide rates.<sup>12</sup> That doesn’t mean depression is no longer functional (if indeed it ever
            was), just that in the modern world it may misfire more than we’d like. And of course some cases of
            depression would remain unexplained by evolutionary design. Peter Kramer, a psychiatrist at Brown University
            and the author of <i>Listening to Prozac</i> and <i>Against Depression</i>, notes that at least some
            episodes of depression are likely to be caused by genetic glitches or by negative thought patterns learned
            during previous unresolved episodes. Most sources, including Hagen, agree that depression is not one disease
            with one cause.

        </p><p>

            Inversely, even if depression and suicidality serve some purpose today, that doesn’t mean they evolved to do
            so. Randolph Nesse, a psychiatrist and the director of the Center for Evolution and Medicine at Arizona
            State University, raises this possibility with regard to the bargaining model. “Some people do use threats
            of suicide to manipulate others, just as they use threats of murder or exposing secrets,” he says, “but I
            don’t see these as specific adaptations shaped by selection. They are just some of the myriad ways people
            try to influence others.”

        </p><p><img id="image_4"
                    src="https://pocket-image-cache.com/direct?resize=w2000&amp;url=http%3A%2F%2Fstatic.nautil.us%2F11597_7212a6567c8a6c513f33b858d868ff80.png">
        </p><p>

            Nesse is even more dismissive of the inclusive fitness model of suicide: “There are many examples of animals
            sacrificing themselves for their kin, but I don’t see that suicide is one of them. Why not just go away?”
            Still, he says, the “broader perspective that there is something useful about low mood is, I think, the key
            to making progress and I wish more psychiatrists would recognize it.”

        </p><p>

            It’s clear that evolutionary models for depression have not won over the psychiatry community at large.
            According to Thomson, “My profession of psychiatry still views depression purely as an illness.” Insurance
            limitations have pushed many psychiatrists away from talk therapy and toward the more efficient prescription
            pad. So “there’s a lot of institutional and scientific investment in the exclusively disease model of
            depression,” Thomson says. “I’m basically telling colleagues they’re medicating people when they shouldn’t
            be. That’s not going to be welcome news.”

        </p><p>

            If Thomson, Hagen, and others are right that evolution has engineered us to be strategically depressed, our
            treatment strategies would need to change. Hagen sees depression as a social problem and not a medical
            problem. Andrews and a colleague, Paul Watson, describing the social navigation hypothesis, a theory that
            includes a version of the bargaining model, wrote in a 2002 paper that instead of prescribing drugs, “it may
            be best to let depression work its miserable yet potentially adaptive magic on the social network under
            protective supervision.”<sup>13</sup> And a greater attention to circumstance and cause would be warranted.

        </p><p>

            It’s hard for anyone to think about a condition as destabilizing as depression in impersonal evolutionary
            terms, particularly those who have felt its burdensome grip. I sometimes lament how much more industrious I
            would be without my own (now manageable) depression. But I also allow that, even today, my melancholia may
            have benefits. It focuses me on deeper questions of where I’m going in my life, even though—or, alas,
            because—it makes me question the value of anything and everything: including depression itself.

        </p><p><i data-highlightable="1">Matthew Hutson is a science writer who’s written for</i> Wired, The Atlantic,
            <i data-highlightable="1">and</i> The New York Times. <i data-highlightable="1">He is the author of</i> The
            7 Laws of Magical Thinking.

            <i data-highlightable="1"></i></p>
            <p><i>For those looking for immediate help: <br></i><a href="http://suicidepreventionlifeline.org/"
                                                                   target="_blank">http://suicidepreventionlifeline.org</a><br>
                1-800-273-8255

            </p><p><b>

            References

        </b></p><p>

            1. Kessler, R.C., <i>et al.</i> The epidemiology of major depressive disorder: Results from the national
            comorbidity survey replication (NCS-R). <i>JAMA</i> <b>289</b>, 3095-3105 (2003).

        </p><p>

            2. Hagen, E.H. Evolutionary theories of depression: A critical review. <i>The Canadian Journal of
            Psychiatry</i> <b>56</b>, 716-726 (2011).

        </p><p>

            3. Andrews, P.W. &amp; Thomson Jr., J.A. The bright side of being blue: Depression as an adaptation for
            analyzing complex problems. <i>Psychological Review</i> <b>116</b>, 620-654 (2009).

        </p><p>

            4. Watkins, E. &amp; Baracaia, S. Why do people ruminate in dysphoric moods? <i>Personality and Individual
            Difference</i> <b>30</b>, 723-734 (2001).

        </p><p>

            5. Syme, K.L., Garfield, Z.H., &amp; Hagen, E.H. Testing the bargaining vs. inclusive fitness models of
            suicidal behavior against the ethnographic record. <i>Evolution and Human Behavior</i> <b>37</b>, 179-192
            (2016).

        </p><p>

            6. Hutson, M. The Power of the Hoodie-Wearing CEO. <i>The New Yorker</i> (2013).

        </p><p>

            7. Pagel, M.D., Erdly, W.W., &amp; Becker, J. Social networks: We get by with (and in spite of) a little
            help from our friends. <i>Journal of Personality and Social Psychology</i> <b>53</b>, 793-804 (1987).

        </p><p>

            8. Major, B., Zubek, J.M., Cooper, M.L., &amp; Cozzarelli, C. Mixed messages: Implications of social
            conflict and social support within close relationships for adjustment to a stressful life event. <i>Journal
            of Personality and Social Psychology</i> <b>72</b>, 1349-1363 (1997).

        </p><p>

            9. Hagen, E.H. &amp; Rosenström, T. Explaining the sex difference in depression with a unified bargaining
            model of anger and depression. <i>Evolution, Medicine, &amp; Public Health</i> <b>1</b>, 117-132 (2016).

        </p><p>

            10. Hagen, E.H. The functions of postpartum depression. <i>Evolution and Human Behavior</i> <b>20</b>,
            325-359 (1999).

        </p><p>

            11. Hutson. M. In ‘Shrinks,’ Jeffrey A. Lieberman with Ogi Ogas Explore the History of Psychiatry. <i>The
            Washington Post</i> (2015).

        </p><p>

            12. Stack, S. The effect of modernization on suicide in Finland: 1800-1984. <i>Sociological Perspectives</i>
            <b>36</b>, 137-148 (2016).

        </p><p>

            13. Watson, P.J. &amp; Andrews, P.W. Toward a revised evolutionary adaptationist analysis of depression: The
            social navigation hypothesis. <i>Journal of Affective Disorders</i> <b>72</b>, 1-14 (2002).

        </p>

        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}

    </article>
{% endblock %}
