{% extends "kl/base.html" %}

{% block content %}
    <article>
        <h1>Everything I know about a good death I learned from my cat</h1>
        <p {% if not paywall.show %} class="paytext" {% endif %}>
            My cat has been dying for the last two years. It is normal to me now — it is simply the state of affairs.
            There's a rhythm to her medication: prednisone and urosodiol in the morning, urosodiol again in the evening,
            chemo every other day, a vitamin B shot once a week. And now, toward the end, painkillers. Over these last
            two years, I've come to suspect that my cat has gotten better, more comprehensive planning around her
            eventual death than most people do.
        </p>
        {% if paywall.show %}
            <p>Dorothy Parker — Dottie, to her friends — is a cat I adopted in Brooklyn from a local vet; she made the
                cross-country hop with me to Oakland with minimal fuss. Her attitude, most of the time, is that of a
                14-year-old Marxist in a Che Guevara T-shirt. One of her favorite moods is <i>murder</i>. She likes
                cuddling, hates strangers, and goes crazy for ice cream. She steals cheese. I live with a tiny, vicious
                alien, and I love her.</p>
            <p><q>she's clawed out two years; i'd like longer, but that's not in the cards</q></p>
            <p> When Dottie was first diagnosed with leukemia in January 2013, I panicked. But my vet helped me through
                it; we had to have a conversation about cost of care versus benefit of care. We kept diagnostic tests to
                a minimum, in part because they’re costly, but also to spare her trauma — she hates the vet and has to
                be sedated to be examined. Usually, she shits herself in her carrier on the way there, out of what I
                presume is terror.
            </p><p>We were lucky; she had an indolent leukemia — a slow-growing blood cancer. It responded well first to
            prednisone, then to chemotherapy when the prednisone alone was no longer enough. She’s clawed out two years;
            I’d like longer, but that’s not in the cards.</p>
            <p>And this is where I feel I have been better served by my vet than many patients are by their doctors: we
                have had, for the last two years, a continuous conversation about Dottie’s end-of-life plan. No one has
                ever promised me a cure, or made me hope Dottie will beat cancer. I have not been shuttled from one
                expensive treatment to the next, in the hopes of another month or two. Some of this, doubtless, has to
                do with cost — I am paying for all her treatments, so my vet has to run through an itemized list of what
                she plans to do for Dottie so I can okay it. That also means that we talk about the risks and benefits
                of her treatments in great detail, so I can decide how best to treat her.</p>
            <p><q>it is very difficult to look a person in the eye and tell her she is dying</q></p>
            <p><q></q>But some of it, I suspect, is that it is very difficult to look a person in the eye and tell her
                she is dying — even though it may be the kindest possible thing to do. No one has to do that with a cat,
                and there’s only one person making Dottie’s decisions: me. I try to take what will make her happiest
                into account — it is the reason we pursued steroids as a main treatment, to keep the side-effects in
                check — but I don’t have to ask her how she wants to die.</p>
            <p>Most Americans <a href="http://www.cdc.gov/nchs/data/hus/hus10.pdf#page=63">want to die at home</a>; most
                don’t do so. Only 19 percent of people ages 85 and older <a
                        href="http://jama.jamanetwork.com/article.aspx?articleid=1568250">die at home</a>. They die,
                instead, <a href="http://www.cdc.gov/nchs/data/hus/hus10.pdf">in the hospital or a nursing home</a>.</p>
            <p> Dottie will die at home. That’s one of the things the vet and I talked about — my cat is currently in
                what my vet calls "a gray zone," where euthanasia isn’t wrong per se but isn’t definitively necessary to
                spare her suffering. Dottie used to weigh almost 20 pounds; she now weighs six. Her back legs are weak,
                and she slides a little when she jumps onto surfaces. She’s tired almost all the time, and she no longer
                runs to the door to greet me when I return from the outside world, as she habitually did for most of the
                six years we’ve spent together.
            </p>
            <p>A few years ago, "death panels" were a talking point for certain unscrupulous members of the political
                elite. The "death panels" conservative politicians scrambled to denounce were meant to provide people
                with the level of care my cat is receiving, to talk dying patients through how their death would go — so
                they could make their own decisions about where, when, and how they would die. So that maybe a few more
                Americans could die at home, surrounded by loved ones, instead of full of tubes in the ICU. The
                controversy these politicians created effectively torpedoed legislation that would have allowed more
                human beings to have the kind of dignity in death that my cat will have. That something so important was
                perverted for political purposes is a disgrace.</p>
            <p>"Many critically ill people who die in hospitals still receive unwanted distressing treatments and have
                prolonged pain," the American Psychological Association — the largest professional organization of
                psychologists in the US — writes <a
                        href="http://www.apa.org/pi/aids/programs/eol/end-of-life-factsheet.aspx">in its end-of-life
                    care fact sheet</a>.&nbsp;"Many fear that their wishes (advance directives) will be disregarded and
                that they will face death alone and in misery."</p>
            <p><q>"many fear that their wishes will be disregarded and that they will face death alone and in
                misery."</q></p>
            <p>Maybe some of it is that people don’t want to accept that death is coming; perhaps some patients want to
                rage against the dying of the light. But at least some of it is doctors, too. Doctors want to preserve
                hope in their patients — and probably also in themselves (one becomes a doctor to save lives, after
                all). "Talking about end of life is difficult for many physicians and their patients and has been a
                taboo topic in society generally," the APA writes. Doctors struggle to tell patients a cure is
                impossible; they’re often uncomfortable discussing treatment decisions, like whether the hospital or the
                home is the best setting for the patient. And some physicians believe they must do everything possible
                to prolong life no matter how much pain is involved. Some fear that offering palliative care and pain
                management suggests they’ve quit trying to help their patients, or that they’ve failed in their duties,
                the APA says. What’s more, few doctors receive education on these absolutely crucial conversations.</p>
            <p>Doctors are increasingly recognizing this gap. The American Medical Association — the largest
                professional group of physicians in the US — has a <a
                        href="http://www.ama-assn.org/ama/pub/physician-resources/medical-ethics/about-ethics-group/ethics-resource-center/end-of-life-care/ama-statement-end-of-life-care.page?">statement
                    on end-of-life care</a> that focuses on doctors’ duties to alleviate suffering and listen carefully
                to patients’ needs. Every person, the AMA writes, should expect "the opportunity to discuss and plan for
                end-of-life care." That includes treatment preferences, worst-case scenarios, the chance to make a
                formal living will or advanced care directive, and help with creating these documents so they’ll be
                useful when needed. Patients should know their wishes will be honored, no matter whether they want "to
                communicate with family and friends, to attend to spiritual needs, to take one last trip, to finish a
                major unfinished task in life, or to die at home or at another place of personal meaning," the AMA says.
                Patients deserve "trustworthy assurance that dignity will be a priority" in death. They deserve the
                careful conversations that my vet and I had about my cat, at minimum.</p>
            <p><q>patients deserve "trustworthy assurance that dignity will be a priority" in death</q></p>
            <p> My vet is right about Dottie being close to death, that it’s probably a matter of weeks rather than
                months. I know she’s right because Dottie did not take her habitual swing — last time we went in for
                Dottie’s checkup, she attacked an assistant so viciously she left several claws in the leather guard the
                assistant wore to deal with her. This time, she just hid behind me and growled. It felt like she was out
                of fight. This visit to the vet was her last; from now on, it’s house calls only. Luckily for her and
                for me, I can afford that. I have referrals for vets who make house calls, and if it comes to it, for
                at-home euthanasia services.
            </p>
            <p>Dottie may make this decision for me; it’s possible one day soon I will wake up and discover that my cat
                did not. I’m not ready to line up euthanasia yet — and I don’t think she is, either — but I know what to
                expect. I know her life will end, and I’ve thought about how; I am prepared to deal with the logistics
                surrounding her death. And it’s because I’ve had difficult conversations with my cat’s health care
                provider that I’m ready. I only hope that when my own time comes, my doctor is as forthcoming as
                Dottie’s vet was.</p>
            <p><i>Author's note: While we were editing this piece, Dottie abruptly got sicker — she began to vomit
                blood. She died at home on Sunday, February 22nd. Changing the tenses in this piece is a relatively
                simple edit; I cannot bring myself to make it. </i></p>

        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}

    </article>
{% endblock %}
