{% extends "kl/base.html" %}

{% block content %}
    <article>
        <h1>"Maailman hulluimmaksi" haukuttu idea osuikin cheddar-suoneen – Nyt joutsalaisyritys valmistaa 80 000 kiloa
            juustoa vuodessa</h1>
        <p {% if not paywall.show %} class="paytext" {% endif %}>
            Maitokärry on vieraillut tänäkin aamuna puoli yhdeksän maissa <i><i>Jukolan Juustossa</i></i>. Kumipyörät
            kuljettivat neljän kilometrin päästä <i><i>Jukolan Maitotilalta</i></i> kerätyn lehmien aamumaidon,
            hieman alle 3 000 litraa. Sama rutiini toistuu viidesti viikossa, lähes minuuttiaikataululla.
        </p>
        {% if paywall.show %}
            <p>Kattilaan juoksutettuun maitomassaan on lisätty hapatteet. Pehmeää juustomassaa hämmennetään ja
                lämmitetään, noin 40 asteeseen. Sen jälkeen juustorakeet kiinteytyvät.</p>
            <p>Massa valutetaan laskualtaaseen, jossa hera erotetaan juustosta. Varsinainen cheddarointivaihe voi
                alkaa.</p>
            <p>Jukolan Juuston toimitusjohtaja, juustomestari <strong>Markku Liias</strong> käyttää yleensä
                chedukka-sanaa puhuessaan tuotteesta, jonka tekemisessä joutsalaisyritys haluaa tulla maailman
                parhaaksi.</p>
            <figure><p><img
                    src="https://images.almatalent.fi/cx91,cy0,cw1789,ch1342,570x/https://assets.almatalent.fi/image/0e31e8ad-1715-54f2-99d7-5f69d9d61809">
            </p>
                <figcaption><span><span><strong>Kattilantäytettä.</strong><span> Juusto­mestari Aki Palomäki jälki­hämmentää maitomassaa.</span></span></span><span>Kuva: Petteri Kivimäki</span>
                </figcaption>
            </figure><p>Liiaksen menneisyys on juuston­täyteinen. 1980-luvulla juustomestariksi valmistunut Liias teki
            toistakymmentä vuotta juustoja muille.</p>
            <p>Kanadalaisessa juustolassa hän tutustui cheddariin. Kotimaassa alkusysäyksen yrittämiselle antoi
                maitotilaa pyörittävän <strong>Pertti</strong>-veljen ehdotus.</p>
            <p>”Vuonna 2013 Pertti kysyi, mitä voisi tehdä, että saisi lisäarvoa omalle maidolle. Pohdimme, mitä kukaan
                muu ei tee Suomessa, ja se oli aito cheddar”, Liias muistelee.</p>
            <p>Sopiva vuokrakiinteistö löytyi nelostien varrelta, entisestä Leivonmäen kunnasta.</p>
            <p>”Itsepäisesti olimme sitä mieltä, että tuote oli hyvä, mutta rahoittajat pitivät ideaa maailman
                hulluimpana.”</p>
            <p>”Laitoin omat rahat likoon ja Pertti lähti mukaan. Saimme investoitua laitteisiin, mutta käyttöpääomaa ei
                juuri ollut”, Liias toteaa.</p>
            <p>Liias myöntää, ettei Jukolan Juusto ole ”selvinnyt puhtain paperein”.</p>
            <p>”Kassan ollessa miinuksella olimme vähän hidas laskujen maksaja. Luonnollinen kierre varmasti monella
                pk-yrittäjällä.”</p>
            <figure><p><img
                    src="https://images.almatalent.fi/cx44,cy0,cw2277,ch1708,570x/https://assets.almatalent.fi/image/071c9d90-9a81-5df9-82eb-e412dd3ad01d">
            </p>
                <figcaption><span><span><strong>Kuukausien odotus.</strong><span> Pakatut tuotteet siirretään kypsytys­kontteihin.</span></span></span><span>Kuva: Petteri Kivimäki</span>
                </figcaption>
            </figure>
            <p>Nyt yrityksen tulevaisuus vaikuttaa valoisammalta. Sekä liikevaihto että tulos ovat olleet kasvussa.
                Jälkimmäinen kääntyi tuoreimmalla tilikaudella voitolliseksi.</p>
            <p>”Teimme viime kesänä tervehdyttämisohjelman, jossa karsimme kustannuksia 150 000 euroa.”</p>
            <p>Kasvua hidastaa juustokattiloiden määrä. Toinen kattila maksaisi 60 000–70 000 euroa.</p>
            <p>”Teemme nyt 80 000 kiloa juustoa vuodessa. Tavoitteena on 100 000 kiloa”, Liias laskee.</p>
            <p>Rahassa se tarkoittaisi 1,4 miljoonan euron myyntiä.</p>
            <p>Maidosta ei synny pulaa. Siitä pitää huolen <strong>Pertti Liiaksen</strong> 320-päinen lypsy­karja.</p>
            <p>”Toisella kattilalla voisimme hyödyntää myös iltamaitoa.”</p>
            <p>”Pertillä on pitkä pinna ja vankka usko tähän juttuun.”</p>
            <p>Pääomaa sitoo juustojen pitkä kypsytysaika. Mausta riippuen tuotteet makaavat thermokonteissa muutamasta
                kuukaudesta gin-cheddarin seitsemään ja vintagen yli kahteentoista kuukauteen.</p>
            <p>”Tavaraa on varastossa 480 000 euron arvosta.”</p>
            <figure><p><img
                    src="https://images.almatalent.fi/cx148,cy0,cw2463,ch1846,570x/https://assets.almatalent.fi/image/c1d8909a-03b5-5de9-961e-84c720352ec8">
            </p>
                <figcaption><span><span><strong>Herkkupaloja.</strong><span> Meijeristiksi opiskeleva Matti Liias leikkaa juustoa käsin sopivan kokoisiksi paloiksi. Palat päätyvät ravintoloihin herkkusuille.</span></span></span><span>Kuva: Petteri Kivimäki</span>
                </figcaption>
            </figure><p>Kasvun vauhdittamiseksi Jukolan Juusto aikoo etsiä rahoittajia, jo lähitulevaisuudessa.</p>
            <p>”Teemme varmaankin yhden rahoituskierroksen elo–syyskuussa. Emme ole aiemmin etsineet sijoittajia, mutta
                myynnin ja tuloksen tuplaamiseksi se voisi olla kannattavaa tehdäkin.”</p>
            <p>Jukolan Juuston myynti jakautuu Liiaksen mukaan melko tasan vähittäiskaupan sekä horeca-puolen (hotellit,
                ravintolat, catering) kesken.</p>
            <p>”Saamme yhteydenottoja huippuravintoloilta. Painopiste on pitkään kypsytetyissä erikoisjuustoissa.”</p>
            <p>Liias näyttää pahvilaatikkojen täyttämässä kylmävarastossa listaa, johon on kirjattu eri makuja
                pihlajansilmusta yrtteihin ja kyytöstä sahtiin.</p>
            <p>”Kalaa en lähde sekoittamaan. Jo ennen sirkkaleipäbuumia päätin, etten laita hyönteisiä chedukkaan.”</p>
            <p>Kokeilujen eksoottisimmasta – ja arvokkaimmasta – päästä on Liiak­sen mukaan 10 000 euroa kilolta
                maksanut tryffeli.</p><p>”Eräs ravintola teetti sellaisen chedukan. Se oli todella hyvää.”</p>

        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}

    </article>
{% endblock %}
