<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

	<img src="{{ url_for('static', filename='kl/top1.png') }}" alt="">
	<img src="{{ url_for('static', filename='kl/main.png') }}" alt="" usemap="#map" />

	<map name="map" id="map">
	    <area target="_self" alt="article1" title="article1" href="/kl/article/1" coords="346,31,828,587" shape="rect">
	    <area target="_self" alt="article0" title="article0" href="/kl/article/0" coords="850,94,1120,176" shape="rect">
	    <area target="_self" alt="article2" title="article2" href="/kl/article/2" coords="846,190,1120,288" shape="rect">
	    <area target="_self" alt="article3" title="article3" href="/kl/article/3" coords="846,303,1117,387" shape="rect">
	    <area target="_self" alt="article4" title="article4" href="/kl/article/4" coords="849,395,1122,509" shape="rect">
	    <area target="_self" alt="article5" title="article5" href="/kl/article/5" coords="851,524,1127,595" shape="rect">
	    <area target="_self" alt="article6" title="article6" href="/kl/article/4" coords="78,93,323,158" shape="rect">
	    <area target="_self" alt="article7" title="article7" href="/kl/article/6" coords="75,170,320,232" shape="rect">
	    <area target="_self" alt="article8" title="article8" href="/kl/article/7" coords="75,244,321,306" shape="rect">
	    <area target="_self" alt="article8" title="article8" href="/kl/article/8" coords="75,318,320,368" shape="rect">
	    <area target="_self" alt="article9" title="article9" href="/kl/article/9" coords="76,378,319,425" shape="rect">
	    <area target="_self" alt="article11" title="article11" href="/kl/article/1" coords="75,507,323,589" shape="rect">
        <area target="_self" alt="article10" title="article10" href="/kl/article/1" coords="78,432,319,496" shape="rect">
    </map>
	<img src="{{ url_for('static', filename='kl/bottom1.png') }}" alt="">

</body>
</html>