html {
    font-family: Merriweather,Georgia,serif;
    line-height: 1.3;
}


article {
    font-size: 14px;
    width: 700px;
    margin-left: 300px;
}


article img {
    max-width: 600px;
    height: auto;
    width: auto;
}