html {
    font-family: Arial,Sans-Serif;
    font-size: 14px;
    line-height: 1.3;
    color: #3b3b3b;
}

body {
    font-feature-settings: "liga","kern";
}

.tsv3-c-common-article__container {
    display: block;
    width: 671px;
    margin-left: 180px;
    align-self: center;
}

.teksti-paywall {
    background-image: linear-gradient(#000, #c9c9c9, #fff);
    color: transparent;
    background-clip: text;
}
