{% extends "hs/base.html" %}

{% block content %}
    <article>
        <h1>If Humble People Make the Best Leaders, Why Do We Fall for Charismatic Narcissists?</h1>
        <h2>People are drawn to those who look and act the romanticized role of the leader. But charismatic leadership
            can have a dark side.</h2>
        <p {% if paywall.show %} class="teksti" {% else %} class="paytext" {% endif %}>
            <img id="image_1"
                 src="https://pocket-image-cache.com/direct?resize=w2000&amp;url=https%3A%2F%2Fhbr.org%2Fresources%2Fimages%2Farticle_assets%2F2017%2F04%2Fapr17-07-610032338.jpg"
                 moz-reader-center="true">
            The <a href="https://hbr.org/2014/05/the-best-leaders-are-humble-leaders">research</a> is clear: when we
            choose humble, unassuming people as our leaders, the world around us becomes a better place.
            Humble leaders improve the performance of a company in the long run because they create more collaborative
            environments. They have a balanced view of themselves – both their virtues and shortcomings – and a strong
            appreciation of others’ strengths and contributions, while being open to new ideas and feedback. These
            “unsung heroes” help their believers to build their self-esteem, go beyond their expectations, and create a
            community that channels individual efforts into an organized group that works for the good of the
            collective.

        </p>
        {% if paywall.show %}

            <p>
                For example, <a href="http://journals.sagepub.com/doi/abs/10.1177/0149206315604187">one study</a>
                examined
                105 small-to-medium-sized companies in the computer software and hardware industry in the United
                Studies.
                The findings revealed that when a humble CEO is at the helm of a firm, its top management team is more
                likely to collaborate and share information, making the most of the firm’s talent.

            </p>
            <p>

                Another study showed that a leader’s humility can be <a
                    href="http://amj.aom.org/content/59/3/1088.abstract">contagious</a>: when leaders behave humbly,
                followers emulate their modest attitude and behavior. A study of 161 teams found that employees
                following
                humble leaders were themselves more likely to admit their mistakes and limitations, share the spotlight
                by
                deflecting praise to others, and be open to new ideas, advice, and feedback.

            </p><p>

            Yet instead of following the lead of these unsung heroes, we appear hardwired to search for superheroes:
            over-glorifying leaders who exude charisma.

        </p><p>

            The Greek word <em>Kharisma</em> means “divine gift,” and charisma is the quality of extraordinary charm,
            magnetism, and presence that makes a person capable of inspiring others with enthusiasm and devotion. <a
                href="https://ie.on.worldcat.org/oclc/38535925">German sociologist</a> Max Weber defined charisma as “of
            divine origin or as exemplary, and on the basis of it, the individual concerned is treated as a leader.” <a
                href="https://books.google.com/books/about/Charismatic_Leadership_in_Organizations.html?id=dn8Y3QCqQPoC">Research
            evidence</a> on charismatic leadership reveals that charismatic people are more likely to become endorsed as
            leaders because of their high energy, unconventional behavior, and heroic deeds.

        </p><p>

            While charisma is conductive to orchestrating positive large-scale transformations, there can be a “dark
            side” to charismatic leadership. Jay Conger and Rabindra Kanungo describe it this way in their seminal <a
                href="https://us.sagepub.com/en-us/nam/charismatic-leadership-in-organizations/book8009">book</a>:
            “Charismatic leaders can be prone to extreme narcissism that leads them to promote highly self-serving and
            grandiose aims.” A <a href="http://www.sciencedirect.com/science/article/pii/0090261695900179">clinical
            study</a> illustrates that when charisma overlaps with narcissism, leaders tend to abuse their power and
            take advantage of their followers. Another <a
                href="http://onlinelibrary.wiley.com/doi/10.1111/j.1744-6570.2010.01179.x/abstract">study</a> indicates
            that narcissistic leaders tend to present a bold vision of the future, and this makes them more charismatic
            in the eyes of others.

        </p><p>

            Why are such leaders more likely to rise to the top? <a
                href="http://journals.sagepub.com.ezxy.ie.edu/doi/abs/10.1177/0956797611417259?journalCode=pssa&amp;volume=22&amp;year=2011&amp;issue=10">One
            study</a> suggests that despite being perceived as arrogant, narcissistic individuals radiate “an image of a
            prototypically effective leader.” Narcissistic leaders know how to draw attention toward themselves. They
            enjoy the visibility. It takes time for people to see that these early signals of competence are not later
            realized, and that a leader’s narcissism reduces the exchange of information among team members and often
            negatively affects group performance.

        </p><p>

            It’s not that charismatic and narcissistic people can’t ever make good leaders. In some circumstances, they
            can. For example, one study <a
                href="https://www.researchgate.net/publication/254078675_It's_All_about_Me_Narcissistic_Chief_Executive_Officers_and_Their_Effects_on_Company_Strategy_and_Performance">found
            that</a> narcissistic CEOs “favor bold actions that attract attention, resulting in big wins or big losses.”
            A narcissistic leader thus can represent a high-risk, high-reward proposition.

        </p><p>

            And it’s not that humble leaders can’t ever be charismatic. Researchers agree that we could classify
            charismatic leaders as “negative” or “positive” by their orientation toward pursuing their self-interested
            goals versus those of their groups. These two sides of charismatic leadership have also been called <a
                href="http://amr.aom.org/content/30/1/96.short"><em>personalized</em> and <em>socialized</em>
            charisma</a>. Although the <em>socialized</em> charismatic leader has the aura of a hero, it is counteracted
            with low authoritarianism and a genuine interest in the collective welfare. In contrast, the <em>personalized</em>
            charismatic leader’s perceived heroism is coupled with high authoritarianism and high narcissism. It is when
            followers are confused and disoriented that they are more likely to form personalized relationships with a
            charismatic leader. Socialized relationships, on the other hand, are established by followers with a clear
            set of values who view the charismatic leader as a means to achieve collective action.

        </p><p>

            The problem is that we select negative charismatic leaders much more frequently than in the limited
            situations where the risk they represent might pay off. Despite their grandiose view of themselves, low
            empathy, dominant orientation toward others, and strong sense of entitlement, their charisma proves
            irresistible. Followers of superheroes are enthralled by their showmanship: through their sheer magnetism,
            narcissistic leaders transform their environments into a competitive game in which their followers also
            become more self-centered, giving rise to organizational narcissism, as <a
                href="http://journals.sagepub.com.ezxy.ie.edu/doi/abs/10.1177/0018726703056005001?journalCode=huma&amp;volume=56&amp;year=2003&amp;issue=5">one
            study</a> shows.

        </p><p>

            If humble leaders are more effective than narcissistic leaders, why do we so often choose narcissistic
            individuals to lead us?

        </p><p>

            The “<a
                href="http://web.b.ebscohost.com.ezxy.ie.edu/ehost/pdfviewer/pdfviewer?vid=1&amp;sid=d311c700-da22-452e-b6bb-afe96296d401%40sessionmgr101">romance
            of leadership</a>” hypothesis suggests that we generally have a biased tendency to understand social events
            in terms of leadership and people tend to romanticize the figure of the leader.

        </p><p><a
                href="http://content.ebscohost.com.ezxy.ie.edu/ContentServer.asp?T=P&amp;P=AN&amp;K=2007-16921-009&amp;S=L&amp;D=pdh&amp;EbscoContent=dGJyMNXb4kSeqLM4yNfsOLCmr0%2BeprNSsam4S7WWxWXS&amp;ContentCustomer=dGJyMPGosU23rrZLuePfgeyx44Dt6fIA">My
            own research</a> shows that our psychological states can also bias our perceptions of charismatic leaders.
            High levels of anxiety make us hungry for charisma. As a result, crises increase not only the search for
            charismatic leaders, but also our tendency to <em>perceive</em> charisma in the leaders we already follow.

        </p><p>

            Economic and social crises thus become a unique testing ground for charismatic leaders. They create
            conditions of distress and uncertainty that appear to be ideal for the ascent of charismatic figures. Yet at
            the same time, they also make us more vulnerable to choosing the wrong leader. Crises and other emotionally
            laden events increase our propensity to romanticize the grandiose view of narcissistic leaders. The paradox
            is that we may then choose to support the very leaders who are less likely to bring us success. In a time of
            crisis, it’s easy to be seduced by superheroes who could come and “rescue” us, but who possibly then plunge
            us into greater peril.

        </p><p>

            While this may sound hopeless, there is another way of looking at it. Essentially, we have the leaders we
            deserve. As we collectively select and construct our leaders to satisfy our own needs and desires, we can
            choose humility or socialized charisma over narcissism.

        </p><p><em><a href="https://hbr.org/search?term=margarita%20mayo&amp;search_type=search-all">Margarita Mayo</a>
            (margaritamayo.com) is Professor of Leadership and Organizational
            Behavior at IE Business School in Madrid. She was recently featured on
            the Thinkers50 Radar as one of 30 thought leaders to watch in 2017. Her
            new book, Yours Truly: How to Stay True to Your Authentic Self in Leadership and Life will be published by
            Bloomsbury in 2018.</em></p>

        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}

    </article>
{% endblock %}