{% extends "hs/base.html" %}

{% block content %}
<article>
        <header id="articleHeader">
          <div id="titleCollapse">
            <div class="verticalCenterOuter">
              <div class="verticalCenterInner">
                <h1 id="titleHolder">Maailma tuottaa vuodessa 2,1 miljardia tonnia yhdyskuntajätettä, mutta USA on ylivoimainen ”jätekukkulan kuningas”</h1>
              </div>
            </div>
          </div>
        </header>
        <div id="content"><noscript>JavaScript must be enabled to use this feature.</noscript><div><figure><img srcset="https://hs.mediadelivery.fi/img/115/abc09803503b4e82902ab0de7ba37d51.jpg.webp 115w, https://hs.mediadelivery.fi/img/230/abc09803503b4e82902ab0de7ba37d51.jpg.webp 230w, https://hs.mediadelivery.fi/img/320/abc09803503b4e82902ab0de7ba37d51.jpg.webp 320w, https://hs.mediadelivery.fi/img/468/abc09803503b4e82902ab0de7ba37d51.jpg.webp 468w, https://hs.mediadelivery.fi/img/658/abc09803503b4e82902ab0de7ba37d51.jpg.webp 658w, https://hs.mediadelivery.fi/img/978/abc09803503b4e82902ab0de7ba37d51.jpg.webp 978w, https://hs.mediadelivery.fi/img/1440/abc09803503b4e82902ab0de7ba37d51.jpg.webp 1440w, https://hs.mediadelivery.fi/img/1920/abc09803503b4e82902ab0de7ba37d51.jpg.webp 1920w" width="594" height="393"><figcaption dir="auto">Kaatopaikka Yhdysvalloissa New Yorkin liepeillä 2012. (KUVA: BRENDAN MCDERMID / REUTERS)</figcaption></figure><p dir="ltr">
Julkaistu: <time title="3.7. 15:40" data-formatted-date="15:40" itemprop="datePublished" content="2019-07-03T15:40" dir="ltr">
3.7. 15:40
</time>
</p><p dir="ltr">
<time title="3.7. 15:40" data-formatted-date="15:40" itemprop="dateModified" content="2019-07-03T15:40" dir="ltr">
3.7. 15:40
</time>
</p><div itemprop="articleBody" dir="ltr">
<span dir="ltr">Ihmisten</span> elintaso ja teollinen tuotanto maailmassa on lisääntynyt vuosisadassa huimasti. Sillä on kuitenkin hintansa.<br dir="ltr"><br dir="ltr">Maailman maat tuottavat vuosittain valtavasti roskaa. Ihmiset tuottavat vuodessa 2,1 miljardia tonnia yhdyskuntajätettä. Määrää on vaikea hahmottaa edes vertaamalla. Se on esimerkiksi tarpeeksi täyttämään 822 000 olympialaisten kokovaatimusten mukaista uima-allasta.<br dir="ltr">

<br dir="ltr">Yhdyskuntajäte on tavallisten kuluttajien ja palveluiden tuottamaa roskaa, kuten esimerkiksi pakkauksia, biojätettä, hehkulamppuja, vanhoja vaatteita ja elektroniikkajätettä, käytännössä mitä tahansa käyttökelvotonta tai vanhaa jota ihmiset heittävät pois.<br dir="ltr"><br dir="ltr"><a href="https://www.maplecroft.com/insights/analysis/us-tops-list-of-countries-fuelling-the-mounting-waste-crisis/" dir="ltr">Tiedot perustuvat</a></div>
<div itemprop="articleBody" dir="ltr" {% if not paywall.show %} class="paytext" {% endif %}> brittiläisen Verisk Maplecroft -yrityksen julkisten tietojen ja akateemisen tutkimuksen pohjalta luotuihin indekseihin. Toinen indeksi luotiin mittamaan kierrättämistä ja toinen jätteentuottamista.<br dir="ltr">
</div>
{% if paywall.show %}
<div itemprop="articleBody" dir="ltr">
<br dir="ltr">Tutkimuksissa yksi maa nousi yli muiden ”jätekukkulan kuninkaaksi” eikä hyvässä mielessä.<br dir="ltr"><br dir="ltr"><span dir="ltr">Indeksien</span> mukaan Yhdysvallat tuottaa vuosittain kolme kertaa enemmän yhdyskuntajätettä ihmistä kohden kuin maailman maat keskimäärin, 773 kiloa jokaista amerikkalaista kohden. Se on noin 12 prosenttia koko maailman yhdyskuntajätteen tuottamisesta, kun USA:ssa on vain 4 prosenttia koko maailman väestöstä.<br dir="ltr"><br dir="ltr">Lisäksi Yhdysvallat on kehno kierrättäjä maailman tasolla, kierrättäen vain kolmanneksen tuottamastaan yhdyskuntajätteestä. Raportin mukaan Yhdysvallat on ainoa maailman kehittynyt valtio, jonka jätteentuotanto ylittää sen kyvyn kierrättää ja käsitellä jätettä. Kierrätyksen tehokkain maa Saksa taas kierrättää peräti yli kaksi kolmasosaa.<br dir="ltr">

<br dir="ltr">Myöskään esimerkiksi Länsi- ja Keski-Afrikan maat eivät olleet yleisesti ottaen kierrätyksen mallimaita, mutta ne tuottivat niin vähän jätettä, että negatiivinen vaikutus maailmassa jää pieneksi moneen muuhun maahan verrattuna.<br dir="ltr"><br dir="ltr">Myös Suomi sai tutkimuksessa osakseen kritiikkiä, monen muun EU-maan rinnalla. Suomi on asetettu muun muuassa USA:n, Britannian, Ranskan, Italian ja Australian ohella maiden joukkoon, jotka ovat riski-indeksissä korkeimmalla tuottamalla aivan liian paljon muovijätettä ilman riittävää kierrätyskykyä käsitellä jätemääriä.<br dir="ltr"><br dir="ltr">Jopa Saksa, joka muuten kierrättää tehokkaimmin maailmassa, on tässä korkeimmassa ryhmässä, koska myös se tuottaa huomattavat määrät muovijätettä.<br dir="ltr">
</div><div itemprop="articleBody" dir="ltr">
<br dir="ltr"><span dir="ltr">Monet</span> länsimaat ovat ”hoitaneet” muovijätehuoltonsa viime vuosikymmeninä rahtaamalla roskaa Aasiaan, erityisesti Kiinaan. Maa vastaanotti aiemmin mielellään mitä tahansa, jota saattoi periaatteessa käyttää raaka-aineena tai muuten.<br dir="ltr"><br dir="ltr">Kiina kuitenkin lopetti lähes kaiken muovijätteen vastaanottamisen alkuvuodesta 2018. Maailman jätevirrat kääntyivät muihin Aasian maihin, jotka nekin ovat nyt kieltämässä nopealla tahdilla muovijätteentuontia ilman kunnollista lajittelua.<br dir="ltr">

<br dir="ltr">HS kirjoitti maailmaa uhkaavasta muovijätekriisistä<a href="https://www.hs.fi/ulkomaat/art-2000006140576.html" dir="ltr"> tässä jutussa</a></div><div itemprop="articleBody" dir="ltr">.<br dir="ltr"><br dir="ltr">Raportissa todetaan, että moni maailman maa on ryhtynyt ainakin jonkinasteisiin toimiin muovijätemäärien hillitsemiseksi. Yli 60 maata on joko jo säätänyt tai aikoo säätää lakeja ja säädöksiä, joiden tarkoituksena on suitsia esimerkiksi muovipussien ja muiden kertakäyttöisten muoviesineiden käyttöä.<br dir="ltr">
</div></div></div>
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}

    </article>
{% endblock %}