{% extends "hs/base.html" %}

{% block content %}
    <article>
        <h1>The pilot episode, in 1959, aired a decade before the first moon landing, which is celebrating its 50th
            anniversary.</h1>
        <p>The very first entry of “The Twilight Zone” uncannily foreshadowed the Apollo 11 moon landing, whose 50th
            anniversary is this month.</p>

        <div><p><img
                src="https://publication.blendleimg.com/publication/newyorktimes/2019/07/02/item/34_1/version/1/image/original/1bce4ea30f8b96ce4ce89710f9d4095a78fdf43b.jpg?w=959&amp;auto=format&amp;fit=crop&amp;crop=edges%2Centropy%2Cfaces&amp;trim=auto"
                moz-reader-center="true"></p></div>

        <p {% if paywall.show %} class="teksti" {% else %} class="paytext" {% endif %}>That pilot episode, which aired
            60 years ago this fall and sold CBS on the cult series, dealt with the
            country’s early attempts to hurl humans into the cosmic void, depicting what viewers learn only late in
            the show is an astronaut trainee who has been in an isolation chamber for nearly three weeks. Many
            American TV watchers were still paranoid about the Sputnik launch two years earlier and didn’t know what
            lay ahead as man reached for the stars. For them, “Where Is Everybody?” (as the episode is titled) was a
            startling introduction to what the series creator, Rod Serling, called in his famous opening narration a
            realm “as vast as space and as timeless as infinity.”</p>
        {% if paywall.show %}
            <p>“The Twilight Zone” — currently in a new incarnation on CBS All Access — debuted after Serling had
                written many live dramas during the 1950s. Frustrated by repeated censorship by networks and advertisers
                alike, he turned to science fiction, fantasy and horror allegories. This approach allowed him to tackle
                vital Cold War issues like conformity, prejudice, suspicion, mechanization, alienation and, of course,
                the Bomb.</p>
            <p>Broadcast on Oct. 2, 1959, “Where Is Everybody?” depicts an amnesiac (Earl Holliman) wandering through a
                deserted town, unaware of who he is or how he got there. All the while, he senses he is being watched.
                After mounting suspicion and dread, he dissolves into hysteria.</p>
            <p>It turns out that Holliman is playing an Air Force sergeant who has been in an isolation chamber for 484
                hours and 36 minutes, simulating a multiweek trip to the moon and back. He has hallucinated his entire
                experience and collapsed from utter loneliness. And he was being watched — by his Air Force supervisors,
                who were recording and monitoring his every reaction.</p>
            <p>“I had first met Rod on my first TV show, ‘The Dark Side of the Earth,’ which he had written, after doing
                16 movies,” Holliman, 90, said in a recent telephone interview. A year later, he said, he ran into him
                in the CBS parking lot. “He said he was doing a science fiction series and they were having trouble
                casting the lead guy. He said, ‘I’m going to send you the script.’ I’d already done ‘Forbidden Planet’
                and said to myself, ‘Oh God, another science fiction show.’ I went home pleased but not excited.”</p>
            <p>The next evening, he read the teleplay over dinner. “I pushed my dinner aside,” Holliman said, “and
                didn’t finish it until I finished the script. It was a very exciting moment for me, because I’d been
                offered this terrific part. So I called up the next morning and said, ‘Yeah, I’m in.’”</p>
            <p>Serling recalled shortly before his death in 1975 that a Time magazine article about NASA-type
                isolation-chamber experiments helped inspire the episode. An article dated Feb. 24, 1958, is almost
                certainly the source. The trainee in that article was Don Farrell, and Holliman’s character was Mike
                Ferris. “I got the idea while walking through an empty lot of a movie studio,” Serling said. “There were
                all the evidences of a community — but with no people. I felt at the time a kind of encroaching
                loneliness and desolation, a feeling of how nightmarish it would be to wind up in a city with no
                inhabitants.”</p>
            <p>“Where Is Everybody?” epitomized what Serling described in his narration as “the middle ground between
                light and shadow, between science and superstition.” As an Air Force officer observes after the
                experiment:</p>
            <p>“We can feed the stomach with concentrates. Supply microfilm for reading, recreation, even movies of a
                sort. We can pump oxygen in and waste material out. But there’s one thing we can’t simulate that’s a
                very basic need — man’s hunger for companionship.”</p>
            <p>The pilot helped get “The Twilight Zone” on the air because it was not too outlandish in concept. “Rod
                was very cognizant of the audience he was writing to — network executives who weren’t science fiction
                fans,” Marc Scott Zicree, the author of “The Twilight Zone Companion,” said in a phone interview. “He
                came up with a story that had a little taste of the fantastic but was still in the real world.”</p>
            <p>As it happens, Serling wrote “Where Is Everybody?” only after CBS turned down his previous script, “The
                Happy Place.” In that drama about a dystopian society, people over age 60 are automatically consigned to
                extermination camps. William Self, a program director for CBS Television, rejected it as too dark.
                Initially angry, Serling returned with “Where Is Everybody?”</p>
            <p>“Rod said, ‘You know something, you were right,’” Self recalled in an audio commentary in 2004. “‘We
                never could have sold that other show to an advertiser.’”</p>
            <p>Holliman learned about the clash over “The Happy Place” only on his last night of filming in December
                1958. “If they had told me the whole background,” he said, “I would have felt more pressure. I had no
                idea how much was hanging on that show.” For his part, Holliman faced his own challenges with his
                largely one-man segment, which was shot over nine days.</p>
            <p>“The first day was long,” Holliman said, “and at the end of it I heard the camera guy say, ‘Uh, oh,’
                which is not what you want to hear. Well, they checked the camera, and there was some small problem and
                we didn’t get a single shot. So we all went home with our heads between our legs.” When a fatigued
                Holliman left the set, he found he was running a fever of 102. He was unable to use his unsettled
                condition to help him convey his onscreen delusions more authentically. “I’m sorry to disappoint you,”
                Holliman said, “but I wasn’t disoriented.”</p>
            <p>There were other wrinkles. “I’m not the most secure actor in the world — at least I wasn’t then,”
                Holliman said. “Robert Stevens, the director, was terrific. But he wasn’t very good at talking with
                actors. Every time I came over to ask him about my role, he excused himself and pretended he had to take
                a phone call. I was concerned that I wasn’t doing a good job!”</p>
            <p>Stevens had directed dozens of episodes of “Alfred Hitchcock Presents” and “The Alfred Hitchcock Hour,”
                and Self praised the “Hitchcock look” he gave to the pilot. A number of brief images — a steaming coffee
                pot, a smoldering cigar, a running faucet — suggest that someone just out of sight is shadowing
                Ferris.</p>
            <p>There are other touches. Early on, Ferris accidentally knocks over a clock in a diner, smashing its glass
                face and freezing the time at 6:15. Toward the end, as he cracks in frustrated claustrophobia, he raps
                his knuckles against the isolation chamber’s chronometer — again breaking it at 6:15. Similarly, just
                before his military overseers bring him back to reality, Ferris frantically pushes the button of a
                “Walk/Wait” traffic signal. He is actually jabbing the chicken switch of his chamber, signaling a plea
                to be released.</p>
            <p>Holliman offered his own input on “Where Is Everybody?” At one point, Mike Ferris enters a phone booth in
                an unsuccessful attempt to reach the outside world; he gets only a prerecorded message: “This is the
                special operator. The number you have reached is not a working number.</p>
            <p>Please make sure that you have the right number. This is a recording.” (This was long before the era of
                “For more options, press the pound sign.”) Holliman suggested that he tear a page out of the phone book
                and put it in his pocket — and discover the page in the real world.</p>
            <p>“Rod liked it,” Holliman said, but noted that, “At that time, CBS wasn’t crazy about having something
                that was unanswered.” Serling may have appropriated the idea when he adapted the teleplay as a story in
                his 1960 collection “Tales From the Twilight Zone.” In both versions, Ferris enters an abandoned movie
                theater. (In the story, he plucks a ticket from the box office, tears it in half, pockets the stub — and
                finds it upon recovering.) “When Rod wrote the book, he was writing for science fiction fans who would
                swallow something like that,” Zicree said.</p>
            <p>As for the moon landing, at the episode’s end, as he is carried away on a stretcher across a tarmac,
                Ferris looks up at Luna and says: “Hey — don’t go away up there! Next time it won’t be a dream or a
                nightmare. Next time it’ll be for real. So don’t go away. We’ll be up there in a little while.”</p>
            <p>“Less than a decade later,” Holliman said, “a billion people on Earth heard Neil Armstrong say, ‘That’s
                one small step for man, one giant leap for mankind.’ Promise made, promise kept. Rod made the promise,
                he kept it — and welcome to ‘The Twilight Zone.’”</p>
            <p>Holliman has no special plans to observe Apollo 11’s golden anniversary. “I’m just celebrating being
                alive,” he said.</p><p><i>Susan C. Beachy contributed research.</i></p>
        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}

    </article>
{% endblock %}