{% extends "hs/base.html" %}

{% block content %}
    <article>
        <h1>The Selfish Dataome - Nautilus</h1>
        <p {% if paywall.show %} class="teksti" {% else %} class="paytext" {% endif %}>
            You’ve heard the argument before: Genes are the permanent aristocracy of evolution, looking after themselves
            as fleshy hosts come and go. That’s the thesis of a book that, last year, was christened the most
            influential science book of all time: Richard Dawkins’ The Selfish Gene.

            But we humans actually generate far more actionable information than is encoded in all of our combined
            genetic material, and we carry much of it into the future. The data outside of our biological selves—call it
            the dataome—could actually represent the grander scaffolding for complex life. The dataome may provide a
            universally recognizable signature of the slippery characteristic we call intelligence, and it might even
            teach us a thing or two about ourselves.

            It is also something that has a considerable energetic burden. That burden challenges us to ask if we are
            manufacturing and protecting our dataome for our benefit alone, or, like the selfish gene, because the data
            makes us do this because that’s what ensures its propagation into the future.
        </p>
        {% if paywall.show %}
            <p>

                Take, for instance, William Shakespeare.

            </p>
            <div data-index="1"><p><img id="image_2"
                                        src="https://pocket-image-cache.com/direct?resize=w2000&amp;url=http%3A%2F%2Fstatic.nautil.us%2F15377_216965b6c0c343a0866b3634853d5569.png">
            </p>
                <p><i><span class="caption"><span>Who’s in Charge?: The bard has become a living part of the human dataome.</span><span></span></span><span> Photo by <span>John Taylor / Wikipedia.</span></span></i>
                </p></div><p id="if54q">***</p>
            <p><b><span data-highlightable="1">S</span>hakespeare died on April 23, 1616 </b>and his body was buried two
                days later in Holy Trinity Church in Stratford-Upon-Avon. His now-famous epitaph carries a curse to
                anyone who dares “move my bones.” And as far as we know, in the past 400 years, no one has risked
                incurring Will’s undead wrath.

            </p><p>

            But he has most certainly lived on beyond the grave. At the time of his death Shakespeare had written a
            total of 37 plays, among other works. Those 37 plays contain a total of 835,997 words. In the centuries that
            have come after his corporeal life an estimated 2 to 4 billion physical copies of his plays and writings
            have been produced. All of those copies have been composed of hundreds of billions of sheets of paper acting
            as vessels for more than a quadrillion ink-rich letters.

        </p>
            <blockquote><p>

                We have been pumping out persistent data since our first oral exchange of a good story.

            </p></blockquote><p>

            Across time these billions of volumes have been physically lifted and transported, dropped and picked up,
            held by hand, or hoisted onto bookshelves. Each individual motion has involved a small expenditure of
            energy, maybe a few Joules. But that has added up across the centuries. It’s possible that altogether the
            simple act of human arms raising and lowering copies of Shakespeare’s writings has expended well over 4
            trillion Joules of energy. That’s equivalent to combusting several hundred thousand kilograms of coal.

        </p><p>

            Additional energy has been utilized every time a human has read some of those 835,997 words and had their
            neurons fire. Or spoken them to a rapt audience, or spent tens of millions of dollars to make a film of
            them, or turned on a TV to watch one of the plays performed, or driven to a Shakespeare festival. Or for
            that matter bought a tacky bust of “the immortal bard” and hauled it onto a mantelpiece. Add in the energy
            expenditure of the manufacture of paper, books, and their transport and the numbers only grow and grow.

        </p><p>

            It may be impossible to fully gauge the energetic burden that William Shakespeare unwittingly dumped on the
            human species, but it is substantial. Of course, we can easily forgive him. He wrote some good stuff. But
            there is also a sense in which the data of Shakespeare has become its own living part of the dataome,
            propagating itself into the future and compelling all of us to support it, just as is happening right now in
            this sentence.

        </p><p id="i04di">***</p>
            <p><b><span data-highlightable="1">S</span>hakespeare, to be fair,</b> contributed barely a drop to a vast
                ocean of data that is both ethereal yet actually extremely tangible in its effects upon us. This is both
                the glory and millstone of <i data-highlightable="1">Homo sapiens</i>.

            </p><p>

            We have been pumping out persistent data since our first oral exchange of a good story and our first
            experimental handprint on a cave wall. Neither of those things were explicitly encoded in our DNA, yet they
            could readily outlive the individual who created them. Indeed, data like these have outlived generation
            after generation of humans.

        </p><p>

            But as time has gone by our production of data has accelerated. Today, by some accounts, our species
            generates about 2.5 quintillion bytes of data a day. That’s more than a billion billion bytes for each
            planetary rotation. And that rate of output is still growing. While lots of that data is a mixture of
            fleeting records—from Google searches to air traffic control—more and more ends up persisting in the
            environment. Pet videos, GIFs, political diatribes, troll responses, as well as medical records, scientific
            data, business documents, emails, tweets, photo albums, all wind up as semi-permanent electrical blips in
            doped silicon or magnetic dots on hard drives.

        </p>
            <div data-index="2"><p><img id="image_3"
                                        src="https://pocket-image-cache.com/direct?resize=w2000&amp;url=http%3A%2F%2Fstatic.nautil.us%2F15388_449ef87e4d3fa1f1f268196b185627dd.png">
            </p>
                <p><i><span data-highlightable="1" class="caption"><span data-highlightable="1">In Perspective: The human genome fits on about two CDs. The human species produces about 20,000 CDs worth of data a second.</span><span
                        data-highlightable="1"></span></span><span data-highlightable="1"> Photo by <span
                        data-highlightable="1">Libor Píška / Shutterstock.</span></span></i></p></div><p>

            This data production and storage takes a lot of energy to maintain, from the moment someone’s hands scrabble
            for rare-earth elements in the soil, to the electricity that sustains it all. There’s a reason that a large
            company like Apple builds its own data server farms, and looks for ways to optimize the power generation
            that these air-conditioned, electron-pushing factories demand, whether it’s building massive solar farms in
            Nevada or utilizing hydroelectricity in Oregon. <br></p><p>

            Even Shakespeare’s medium—traditional paper—is still an energy-hungry beast. In 2006 it was estimated that
            United States paper production gulped down about 2,400 trillion BTUs (about 4 million trillion trillion
            trillion Joules) to churn out 99.5 million tons of pulp and paper products. That amounts to some 28,000
            Joules of energy used per gram of final material—before any data is even printed on it. Or to put it another
            way, this is equivalent to roughly 5 grams of high-quality coal being burnt per page of paper.

        </p><p>

            Why are we doing this? Why are we expending ever increasing amounts of effort to maintain the data we, and
            our machines, generate? This behavior may represent far more than we at first think.

        </p>
            <blockquote><p>

                Our dataome is both an advantage to us humans, and a burden.

            </p></blockquote><p>

            On the face of things, it seems pretty obvious that our capacity to carry so much data with us through time
            is a critical part of our success at spreading across the planet. We can continually build on our knowledge
            and experience in a way that no other species seemingly does. Our dataome provides us with a massive
            evolutionary advantage.

        </p><p>

            But it’s clearly not free. We may be trapped in a bigger Darwinian reality where we are in effect now
            serving as a supporting organelle for our own dataome.

        </p><p>

            This is an unsettling framework for looking at ourselves. But it has parallels in other parts of the natural
            world. Our microbiome, of tens of trillions of single-celled organisms, is perpetuated not so much by us as
            individuals, but by generations of us carrying this biological information through time. Yet we could also
            flip this around and conceptualize the situation as the microbiome carrying us through time. The microbiome
            exists in us because we’re a good environment. But that’s a symbiotic relationship. The microbes have to do
            things a certain way, have to work at supporting their human carrying systems. A human represents an
            energetic burden as much as an evolutionary advantage to microbes. Similarly, our dataome is both an
            advantage to us humans, and a burden.

        </p><p>

            The question is, is our symbiosis still healthy? The present-day energetic burden of the dataome seems like
            it could be at a maximum level in the history of our species. It doesn’t necessarily follow that we’re
            experiencing a correspondingly large benefit. We might do well to examine whether there is an optimal state
            for the dataome, a balance between the evolutionary advantages it confers on its species and the burden it
            represents.

        </p><p>

            The proliferation of data of seemingly very low utility (that I might grumpily describe as cat pictures and
            selfies) could actually be a sign of worrying dysfunction in our dataome. In other words, undifferentiated
            and exponential growth of low-value data suggests that data can get cancer. In which case we’d do well to
            take this quite seriously as a human health issue—especially if treatment reduces our global energy burden,
            and therefore our impact on the planetary environment.

        </p><p>

            Improving the utility of our data, purging it of energy-wasting junk might not be popular, but could perhaps
            be incentivized. Either through data credit schemes akin to domestic solar power feeding back to the grid,
            or making the loss of data a positive feature. What you might call a Snapchat approach.

        </p><p>

            In that case, the human-dataome symbiosis might become the only example in nature of a symbiotic
            relationship that is <i>consciously</i> managed by one party. What the long-term evolutionary robustness of
            that would be is hard to say.

        </p><p>

            But more optimistically; if the dataome is indeed an integral and integrated part of our evolutionary path
            then perhaps by mining it we can learn more about not just ourselves and our health, but the nature of life
            and intelligence in general. Precisely how we interrogate the dataome is a wide-open question. There may be
            emergent structure within it that we simply haven’t recognized, and we will need to develop measures and
            metrics to examine it properly. Existing tools like network theory or computational genomics might help.

        </p><p>

            The potential gains of such an analysis could be enormous. If the dataome is a real thing then it represents
            a missing piece of our puzzle; of the function and evolution of a sentient species. We’d do well to at least
            take a look. As Shakespeare once said : “The web of our life is of a mingled yarn, good and ill together.”

        </p><p><i><span>Caleb Scharf is an astrophysicist, the Director of Astrobiology at Columbia University in New York, and a founder of yhousenyc.org, an institute that studies human and machine consciousness. His latest book is</span>&nbsp;The
            Zoomable Universe: An Epic Tour Through Cosmic Scale, from Almost Everything to Nearly Nothing.

        </i></p>

        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}

    </article>
{% endblock %}