{% extends "hs/base.html" %}

{% block content %}
<article>
    <h1>Helsingin edustalla on saari, jossa aika on pysähtynyt vuoteen 1952: ”Emme seuraa trendejä”</h1>
    <p>Aivan kuin aika olisi pysähtynyt Pyysaaressa, Helsingin edustalla kelluvalla Helsingin kaupungin omistamalla pienellä saarella Laajasalon ja Kulosaaren välissä. Tuntuu kuin saaressa olisi aina olympiavuosi 1952.</p>
    <p>Omaleimaista tunnelmaa saarelle luo 1900-luvun alun huvilassa toimiva ravintola Pyysaari, joka tunnetaan myös nimellä Palma de Pyy.</p>
    <p {% if paywall.show %} class="teksti" {% else %} class="paytext" {% endif %}>Ravintola aloitti toimintansa vuonna 1952, kun Helsinkiin saapui kisavieraita olympialaisiin ja joukko anniskelulupia myönnettiin lisää.</p>
    {% if paywall.show %}
    <img src="https://hs.mediadelivery.fi/img/658/ecf908dc5d8747b29608799760e23559.jpg.webp">
    <figcaption itemprop="caption">
    Pyysaari on pieni saari Laajasalon ja Kulosaaren välisen Tullisaaren salmessa. Saaren omistaa Helsingin kaupunki. Pyysaari kuuluu Laajasalon kaupunginosaan.
    <span class="credit">(KUVA: <span class="picture-copyrightholder" itemprop="copyrightHolder">Mika Ranta / HS</span>)</span>
    </figcaption>
    <img src="{{url_for('static', filename='hs/hs_art_0.jpg')}}">
    {% elif paywall.pay %}
    {% include "hs/pay.html" %}
    {% else %}
    {% include "hs/block.html" %}
    {% endif %}

</article>
{% endblock %}
