<div class="paywall">
    <img src="https://i.imgur.com/ugQoNoT.png" alt="">
    <br>
    <a href="https://tilaa.sanoma.fi/hs-digi-nayte-timantti?aid=FSFBS7M6QM&amp;ref=maksumuuri_kova&amp;serviceUrl=https%3A%2F%2Fwww.hs.fi%2Fkulttuuri%2Fart-2000006152887.html%23kirjaudu" class="action subscribe subscription">
    </a>
    <button class="badger-button" data-to="simpleledger:qq0nu0xa5rxj72wx043ulhm3qs28y95davd6djawyh" data-success-callback="badgerCallback" data-token-amount="1" data-token-id="65a84381f20769f791258851f213b0e3543a6b567ff2c6f9a9c587af7b4ffc6e" data-token-protocol="slp">
        Pay 1 token
    </button>
</div>
