{% extends "ts/base.html" %}

{% block content %}
    <article>
        <h1>Italialaisesta Sassolista parlamentin uusi puhemies – äänestys meni toiselle kierrokselle</h1>
        <p {% if not paywall.show %} class="paytext" {% endif %}>
            Kautensa tiistaina aloittanut uusi Euroopan parlamentti on valinnut uudeksi puhemiehekseen Euroopan
                parlamentin sosiaalidemokraattisen ryhmän (S&amp;D) <span>David-Maria Sassolin</span> Strasbourgissa
                keskiviikkona. Puhemiehen kausi on kahden ja puolen vuoden pituinen.
        </p>
        {% if paywall.show %}


            <p>Puhemiehen valinta meni toiselle äänestyskierrokselle, sillä kukaan ehdokkaista ei saanut äänteen
                enemmistöä.</p>
            <p>Parlamentin puhemiehen paikalta väistyy italialainen <span>Antonio Tajani</span>, joka edustaa
                keskustaoikeistolaista EPP-ryhmää.</p>
            <p>Sassolin keskustavasemmistolainen S&amp;D edustaa parlamentin toiseksi suurinta puoluetta. Puolueella on
                parlamentissa 146 paikkaa, kun taas suurimmalla EPP:llä paikkoja on 180. </p>
            <p>Valinta noudatteli sikäli tyypillistä kaavaa, sillä kahden ja puolen vuoden pituinen puhemiehen paikka on
                jaettu useimmiten viiden vuoden välein valittavan parlamentin kahden suurimman puolueen kesken. </p>
            <p><span>Toukokuisten EU-vaalien</span> myötä keskikokoisten ryhmien valta parlamentissa kasvoi, ja se näkyi
                muiden puhemiesehdokkaiden taustoissa.</p>
            <p>Ehdolla olivat myös vihreitä ja Euroopan vapaa allianssi -ryhmää (Greens-EFA) edustava
                <span>Ska Keller</span> Saksasta, espanjalainen, Euroopan yhtyneen vasemmiston konfederaatioryhmän
                (GUE–NGL)<span> Sira Rego</span> Espanjasta, Euroopan parlamentin sosiaalidemokraattisen ryhmän (S&amp;D)
                <span>David-Maria Sassoli</span> Italiasta ja Euroopan konservatiiveja ja reformisteja (ECR) edustava
                <span>Jan Zahradil </span>Tshekistä.</p>
            <p>Ensimmäisellä kierroksella eniten ääniä sai Sassoli (325), toiseksi eniten Zahradil (162), Keller sai 133
                ääntä ja Regon oli tyytyminen 42 ääneen. 73 meppiä äänesti tyhjää ensimmäisellä kierroksella.</p>
            <p>Toisella kierroksella Sassoli onnistui saamaan äänten enemmistön 345 äänellä. Zahradil sai160 ääntä,
                Keller 119 ja Rego 43 ääntä. Toisella kierroksella annettiin 667 ja 37 äänesti tyhjää.</p>
            <p><span>David-Maria Sassoli </span>kertoi haluavansa puhemiehenä rakentaa EU:sta demokratian kotia. Myös
                hänen puheessaan nousivat esiin huoli ilmastonmuutoksesta, siirtolaisuuden lisääntymisestä. Sassoli
                kertoi puhemiehenä haluavansa edistää tasa-arvoa ja oikeudenmukaisuutta sekä vahvistaa luottamusta. </p>
            <p>– Haluan modernimman ja avoimemman parlamentin, hän sanoi ja kertoi parlamentissa olevan nyt uutta
                energiaa uusien edustajien myötä.</p>
            <p><span>Ehdokkaat nostivat </span>puheenvuoroissaan esiin muun muassa toukokuisten EU-vaalien
                äänestysvilkkauden, joka oli korkein 20 vuoteen.</p>
            <p>Esille tulivat myös siirtolais- ja ilmastonmuutoskysymykset, ja joistakin puheista saattoi aistia huolen
                Euroopan tulevaisuudesta. </p>
            <p>Saksalainen Ska Keller painotti puheessaan EU:n roolin olevan tärkeämpi kuin koskaan etenkin
                ilmastokriisin ratkaisussa ja vastakkainasettelujen sekä vihamielisen retoriikan kitkemisessä. Hänen
                mukaansa parlamentin ovia pitäisi myös avata kansalaisille.</p>
            <p>– EU:n pitäisi olla paikka, jossa kansalaiset osallistuvat keskusteluun. Haluan edustaa ihmisoikeuksia,
                demokratiaa ja sukupuolten tasa-arvoa. </p>
            <p>Keller kertoi asuneensa rautaesiripun varjossa Saksan ja Puolan rajan läheisyydessä.– Olen nähnyt, miten
                Eurooppa tuo ihmisiä yhteen. Minulla on vastuu puolustaa tätä eurooppalaista perintöä, hän sanoi.</p>
            <p><span>Espanjalainen Sira Rego</span> kertoi puheenvuorossaan haluavansa puolustaa työtä tekevien
                kansalaisten oikeuksia sekä kitkeä epäoikeudenmukaisuutta ja työttömyyttä.</p>
            <p>Rego kertoi olevansa huolissaan paitsi taloudellis-sosiaalisesta kriisistä, myös ilmastokriisistä. Hän
                ehdotti jopa ilmastokriisivaliokunnan perustamista Euroopan parlamenttiin.</p>
            <p>– Uusliberaalinen talouspolitiikka on sellaista, jota ei saa normalisoida, hän sanoi.</p>
            <p>Rego kertoi myös haluavansa vastustaa rauhaa, fasismia, puolustaa ihmisoikeuksia sekä harjoittaa
                feministipolitiikkaa.</p>
            <p><span>Tshekkiläinen Jan Zahradil</span> muistutti olleensa Euroopan parlamentissa jo vuodesta 2004
                lähtien. Hän toimi jo vuotta aiemmin parlamentin tarkkailijajäsenenä.</p>
            <p>– Minulla on kokemusta viisi parlamentin puhemiehestä, ja se tuo asiantuntemusta, hän vetosi
                äänestäjiinsä.</p>
            <p>Hänen mukaansa hyvä puhemies on puolueeton ja neutraali ja sellainen, joka ei edusta itseään, vaan koko
                parlamenttia.</p><p>Hän muistutti myös tasapainon tarpeellisuudesta parlamentissa.</p>
            <p>– Viimeisen 15 vuoden aikana Euroopan unioniin on tullut 13 uutta jäsenvaltiota, joista 11 on itäisestä
                ja keskisestä valtiosta. Minä olen niistä ainoa, joka on ehdolla huippuvirkaan.</p>

        {% elif paywall.pay %}
            {% include "pay.html" %}
        {% else %}
            {% include "block.html" %}
        {% endif %}

    </article>
{% endblock %}
