{% extends "ts/base.html" %}
{% block content %}
<div class="tsv3-c-common-article__container">
    <div class="tsv3-c-common-article__container__top">
        <header class="tsv3-c-common-article__textitem tsv3-c-common-article__textitem--otsikko">
            <h1 class="otsikko">Kahvi aktivoi elimistön "hyvän" ruskean rasvan</h1>
        </header>
        <div class="tsv3-c-common-article__textitem tsv3-c-common-article__textitem--alarivi">
            <h2 class="alarivi">Elimistössä on vain vähän ruskeaa rasvaa, jota käytetään lämmöntuotantoon.</h2>
        </div>
        <div class="tsv3-c-common-article__container__top__attachment">
            <div class="tsv3-c-common-article__attachment tsv3-c-common-article__attachment--inline tsv3-c-common-article__attachment--image" data-attachment="k4351371">
                <a class="tsv3-c-common-article__attachment__link" href="https://www.ts.fi/static/content/pic_5_4621518_k4351371_651.jpg" data-contentpop="True" data-contentpop-id="k4351371" data-contentpop-title="Italian p&amp;#228;&amp;#228;ministeri Giuseppe Conte juo kahvia maan parlamentissa Roomassa 19. kes&amp;#228;kuuta. Kahvin juominen lis&amp;#228;&amp;#228; ruskean rasvan aktiivisuutta ihmisiss&amp;#228;." data-contentpop-photographer="" data-contentpop-type="image" target="_blank">
                    <img class="tsv3-c-common-article__attachment__link__previewimage" src="https://www.ts.fi/static/content/pic_5_4621518_k4351371_651.jpg" alt="Italian p&amp;#228;&amp;#228;ministeri Giuseppe Conte juo kahvia maan parlamentissa Roomassa 19. kes&amp;#228;kuuta. Kahvin juominen lis&amp;#228;&amp;#228; ruskean rasvan aktiivisuutta ihmisiss&amp;#228;.">
                </a>
                <div class="tsv3-c-common-article__attachment__caption">Italian pääministeri Giuseppe Conte juo kahvia maan parlamentissa Roomassa 19. kesäkuuta. Kahvin juominen lisää ruskean rasvan aktiivisuutta ihmisissä.</div>
            </div>
        </div>
    </div>
    <div class="tsv3-c-common-article__container__middle tsv3-c-common-article__container__middle--cols tsv3-c-common-article__container__middle--meta">
        <div class="tsv3-c-common-article__container__middle__left">
            <div class="tsv3-c-common-article__meta">
                <div class="tsv3-c-common-article__meta__row1">
                    <a href="/uutiset/maailma/">Maailma</a>
                    <span class="tsv3-c-common-article__meta__separator">|</span>
                    <span class="tsv3-c-common-article__meta__publisher">Lännen Media</span>
                    <span class="tsv3-c-common-article__meta__separator">|</span>
                    <time datetime="2019-06-25 13:38+03:00" title="25.6.2019 13:38">13:38</time>
                    <span class="tsv3-c-common-article__meta__separator">|</span>
                    <span class="js-tsv3-c-common-article__meta__messagecount tsv3-c-common-article__meta__messagecount">0</span>
                </div>
            </div>
        </div>
        <div class="tsv3-c-common-article__container__middle__right">
        </div>
    </div>
    <div class="tsv3-c-common-article__container__middle tsv3-c-common-article__container__middle--cols">
        <div class="tsv3-c-common-article__container__middle__left">
            <div class="tsv3-c-common-article__container__middle__right">
                <div class="tsv3-c-common-article__socialmedia ">
                    <div class="tsv3-c-common-article__socialmedia__share">
                        <a class="js-socialbutton tsv3-c-common-article__socialmedia__share__fb" data-action="Share" data-network="Facebook" data-target="https://www.ts.fi/uutiset/maailma/4621518/Kahvi+aktivoi+elimiston+hyvan+ruskean+rasvan" href="https://www.facebook.com/sharer/sharer.php?u=https%3a%2f%2fwww.ts.fi%2fuutiset%2fmaailma%2f4621518%2fKahvi%2baktivoi%2belimiston%2bhyvan%2bruskean%2brasvan" onclick="javascript:window.open(this.href, '','menubar=no,toolbar=no,width=550,height=368');return false;" rel="nofollow noopener" target="_blank"></a>
                        <a class="js-socialbutton tsv3-c-common-article__socialmedia__share__twitter" data-action="Tweet" data-network="Twitter" data-target="https://www.ts.fi/uutiset/maailma/4621518/Kahvi+aktivoi+elimiston+hyvan+ruskean+rasvan" href="https://twitter.com/share?url=https%3a%2f%2fwww.ts.fi%2fuutiset%2fmaailma%2f4621518%2fKahvi%2baktivoi%2belimiston%2bhyvan%2bruskean%2brasvan&amp;text=Kahvi+aktivoi+elimist%c3%b6n+%22hyv%c3%a4n%22+ruskean+rasvan&amp;lang=fi" onclick="javascript:window.open(this.href, '','menubar=no,toolbar=no,width=450,height=300');return false;" rel="nofollow noopener" target="_blank"></a>
                    </div>
                </div>
            </div>
            <div class="tsv3-c-common-article__textitem tsv3-c-common-article__textitem--teksti">
                <p class="kirjoittaja">Ilkka Timonen</p>
                <p {% if paywall.show %} class="teksti" {% else %} class="tekstipaywall" {% endif %}>Tuore tutkimus kertoo kahvilla olevan yhteys niin sanotun "hyvän rasvan" eli ruskean rasvan toimintaan.</p>
                {% if paywall.show %}
                <p class="teksti">Tutkimusta johtamassa ollut Nottinghamin yliopiston professori <span class="henkilo">Michael Symonds</span> kertoo tutkijoiden havainneen, että kahvi voi stimuloida ruskeaa rasvaa.</p>
                <p class="teksti">– Ruskea rasva on ainutlaatuinen elin, jota käytetään lämmöntuotantoon. Sitä on aika vähän ruumiissa, Symonds kertoi <a href="https://eu.usatoday.com/story/news/2019/06/24/coffee-could-help-burn-fat-new-study-says/1545452001/" target="_blank" rel="noopener nofollow" class="kursiivi">USA Today</a><a href="https://eu.usatoday.com/story/news/2019/06/24/coffee-could-help-burn-fat-new-study-says/1545452001/" target="_blank" rel="noopener nofollow"> -lehden verkkosivuilla</a>.</p>
                <p class="teksti">Ruskeiden rasvasolujen avulla ruumis taistelee muun rasvan tuotantoa vastaan, kertoo Nottinghamin yliopisto tiedotteessaan. Kun ruumis tuottaa lämpöä, se käyttää energiaa ja polttaa täten kaloreita. Symondsin mukaan kyseessä on ensimmäinen tutkimus, joka osoittaa että kahvi voi vaikuttaa siihen, miten ruskea rasva toimii.</p>
                <p class="teksti"><span class="lahto">Ruskea rasva</span> vaikuttaa siihen, miten nopeasti ihmisruumis polttaa kaloreita. Aiemmin tällaista kudosta luultiin olevan vain talvella horrostavilla nisäkkäillä ja vauvoilla.</p>
                <p class="teksti">Sitä on kuitenkin löydetty myös aikuisista. Lääketieteellinen aikakauskirja <span class="kursiivi">Duodecim</span> kertoo, että ruskeat rasvasolut tuottavat lämpöä irtikytkijäproteiini 1:n avulla rasvahapoista ja sokerista.</p>
                <p class="teksti">Aktiivista ruskeaa rasvaa on todennäköisimmin nuorilla aikuisilla, normaalipainoisilla ja naisilla, ja epätodennäköisemmin lihavilla henkilöillä. Sen määrä ja aktiivisuus lisääntyvät toistuvassa kylmäaltistuksessa kuten avantouinnissa ja laihdutettaessa.</p>
                <p class="teksti">Aikuisilla on ruskeaa rasvaa ruumiissaan 50–100 grammaa. Kun se aktivoituu, se pystyy tuottamaan lämpöä 30 kertaa enemmän kuin mikään muu ruumiin elin.</p>
                <p class="teksti">Maksimaalisesti käytettynä se voi tuottaa jopa 10 prosenttia ruumiin päivittäisestä lämmöstä.</p>
                <p class="teksti">Tutkijat aloittivat tutkimalla hiiristä ja ihmisistä erotettuja kantasoluja. Sitten käyttöön otettiin vapaaehtoiset, joiden ruskean rasvan aktiivisuutta niskassa tutkittiin tunti kahvin juonnin jälkeen.</p>
                <p class="teksti">Kahvin juominen lisäsi ruskean rasvan aktiivisuutta ihmisissä. </p>
                <p class="teksti">Symonds kertoi, että kahvi auttaa ylipainon ja diabeteksen vastaisessa taistelussa, koska kahvin juominen parantaa myös elimistön glukoositasoja.</p>
                {% elif paywall.pay %}
                {% include "ts/pay.html" %}
                {% else %}
                {% include "ts/block.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
