{% extends "base.html" %}

{% block head %}
    <link href="/static/ts/style.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='badgerToken-1.0.1.js') }}"></script>
{% endblock %}
{% block body %}
    <a href="/ts" ><img src="/static/ts/top.png" alt=""></a>
    {% block content %}
    {% endblock %}
    <img src="/static/ts/bottom.png" alt="">
{%  endblock %}