<head>
    <link href="/static/ts/style.css" rel="stylesheet">
    <link href="/static/ts/paywall.css" rel="stylesheet">
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='badgerToken-1.0.1.js') }}"></script>
</head>
<body>
    <a href="/ts" ><img src="https://i.imgur.com/ljAaSz4.png" alt=""></a>
    {% block content %}
    {% endblock %}
    <img src="https://i.imgur.com/9kySYyS.png" alt="">
</body>
