{% extends "ts/base.html" %}

{% block content %}
<article data-article="4619575" class="lp_article_content">

    <div class="tsv3-c-common-article__container tsv3-c-common-article__container--main">


            <div class="tsv3-c-common-article__container__top">
                            <header class="tsv3-c-common-article__textitem tsv3-c-common-article__textitem--otsikko"><h1 class="otsikko">Poliisilla työntäyteinen juhannus Turun seudulla</h1></header>

                    <div class="tsv3-c-common-article__container__top__attachment">
                                        <div class="tsv3-c-common-article__attachment tsv3-c-common-article__attachment--inline tsv3-c-common-article__attachment--image" data-attachment="k3425658">
                        <div class="tsv3-c-common-article__attachment__photographer">Lennart Holmberg</div>

                        <a class="tsv3-c-common-article__attachment__link" href="https://www.ts.fi/static/content/pic_5_4619575_k3425658_1200.jpg" data-contentpop="True" data-contentpop-id="k3425658" data-contentpop-title="" data-contentpop-photographer="Lennart Holmberg" data-contentpop-type="image" target="_blank">

                                <img class="tsv3-c-common-article__attachment__link__previewimage" src="https://www.ts.fi/static/content/pic_5_4619575_k3425658_651.jpg" alt="">

                        </a>
                                            <div class="tsv3-c-common-article__attachment__caption"></div>
                </div>

                    </div>
            </div>


            <div class="tsv3-c-common-article__container__middle tsv3-c-common-article__container__middle--cols tsv3-c-common-article__container__middle--meta">
                <div class="tsv3-c-common-article__container__middle__left">
                    <div class="tsv3-c-common-article__meta">
                        <div class="tsv3-c-common-article__meta__row1">
                                <a href="/uutiset/paikalliset/">Paikalliset</a>


                            <span class="tsv3-c-common-article__meta__separator">|</span>
                            <span class="tsv3-c-common-article__meta__publisher">Turun Sanomat</span>
                            <span class="tsv3-c-common-article__meta__separator">|</span>
                            <time datetime="2019-06-23 15:40+03:00" title="23.6.2019 15:40">23.6.2019 15:40</time>
                                <span class="tsv3-c-common-article__meta__separator">|</span>
                                <span class="js-tsv3-c-common-article__meta__messagecount tsv3-c-common-article__meta__messagecount">0</span>
                        </div>
                    </div>
                </div>
                <div class="tsv3-c-common-article__container__middle__right">
                </div>
            </div>


            <div class="tsv3-c-common-article__container__middle tsv3-c-common-article__container__middle--cols">


                 <div class="tsv3-c-common-article__container__middle__left">


                                 <div class="tsv3-c-common-article__textitem tsv3-c-common-article__textitem--teksti">
<p class="tekstipaywall">Poliisin juhannusviikonloppu oli työntäyteinen Turun seudulla. Poliisin mukaan tutkittavaksi tuli useita törkeitä ja tavanomaisia rattijuopumuksia sekä yksi vesiliikennejuopumus.</p>
{% include "ts/paywall.html" %}
    <p>or login with finn+</p>
    <form method="POST" action="{{url_for('loginfinnplus')}}">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(size=20) }}
    {{ form.password.label }} {{ form.password(size=20) }}
    <input type="submit" value="Go">
    </form>


                 </div>
            </div>
    </div>
            <div class="tsv3-c-common-article__tags">
                <h4>Aiheet</h4>
                <ul class="g-clearfix">
                        <li><a href="/aihe/uutiset">Uutiset</a></li>
                        <li><a href="/aihe/paikalliset">Paikalliset</a></li>
                </ul>
            </div>


</article>
{% endblock %}
