<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
		
	<img src="{{ url_for('static', filename='ts/main.png') }}" alt="" usemap="#map" />

	<map name="map" id="map">
	    <area target="_self" alt="article0" title="article0" href="http://127.0.0.1:8000/ts/article/0" coords="48,233,701,831" shape="rect">
	    <area target="_self" alt="article1" title="article1" href="http://127.0.0.1:8000/ts/article/1" coords="49,846,696,984" shape="rect">
	    <area target="_self" alt="article2" title="article2" href="http://127.0.0.1:8000/ts/article/2" coords="50,998,256,1210" shape="rect">
	    <area target="_self" alt="article3" title="article3" href="http://127.0.0.1:8000/ts/article/3" coords="264,1001,479,1219" shape="rect">
	    <area target="_self" alt="article4" title="article4" href="http://127.0.0.1:8000/ts/article/5" coords="486,999,694,1223" shape="rect">
	    <area target="_self" alt="article5" title="article5" href="http://127.0.0.1:8000/ts/article/4" coords="723,287,1018,352" shape="rect">
	    <area target="_self" alt="article6" title="article6" href="http://127.0.0.1:8000/ts/article/6" coords="725,357,1012,433" shape="rect">
	    <area target="_self" alt="article7" title="article7" href="http://127.0.0.1:8000/ts/article/7" coords="724,446,1014,509" shape="rect">
	    <area target="_self" alt="article8" title="article8" href="http://127.0.0.1:8000/ts/article/8" coords="721,520,1014,564" shape="rect">
	    <area target="_self" alt="article9" title="article9" href="http://127.0.0.1:8000/ts/article/9" coords="722,577,1016,640" shape="rect">
	    <area target="_self" alt="article10" title="article10" href="http://127.0.0.1:8000/ts/article/0" coords="723,648,1019,705" shape="rect">
	</map>
	<img src="{{ url_for('static', filename='ts/bottom1.png') }}" alt="">

</body>
</html>
