<div class="landingbox">
    <div class="landinbox__left">
        <div class="tsplus">
            <span class="g-tsplus"></span> Finn+
        </div>
        <h3 class="header-want-to-read-more">Haluatko lukea koko artikkelin?</h3>
        <p class="landingbox__offer">
            Maksa 1 tokeni.
        </p>

        <div class="landinbox__buttons">
                    <button
                        class="badger-button"
                        data-to="simpleledger:qq0nu0xa5rxj72wx043ulhm3qs28y95davd6djawyh"
                        data-success-callback="badgerCallback"
                        data-token-amount="1"
                        data-token-id="65a84381f20769f791258851f213b0e3543a6b567ff2c6f9a9c587af7b4ffc6e"
                        data-token-protocol="slp"
                    >
                        Pay 1 token
                    </button>
        </div>
    </div>
    <div class="landinbox__right">
        <div class="landinbox__buttons landinbox__buttons--right">
            <a href="http://localhost:5000/dashboard" class="already-have-order-right">Other payment options</a>
        </div>
    </div>
</div>
