{% extends "ts/base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script src="{{ url_for('static', filename='badgerToken-1.0.1.js') }}"></script>
<article data-article="4619575" class="lp_article_content">

    <div class="tsv3-c-common-article__container tsv3-c-common-article__container--main">


            <div class="tsv3-c-common-article__container__top">
                            <header class="tsv3-c-common-article__textitem tsv3-c-common-article__textitem--otsikko"><h1 class="otsikko">Poliisilla työntäyteinen juhannus Turun seudulla</h1></header>

                    <div class="tsv3-c-common-article__container__top__attachment">
                                        <div class="tsv3-c-common-article__attachment tsv3-c-common-article__attachment--inline tsv3-c-common-article__attachment--image" data-attachment="k3425658">
                        <div class="tsv3-c-common-article__attachment__photographer">Lennart Holmberg</div>

                        <a class="tsv3-c-common-article__attachment__link" href="https://www.ts.fi/static/content/pic_5_4619575_k3425658_1200.jpg" data-contentpop="True" data-contentpop-id="k3425658" data-contentpop-title="" data-contentpop-photographer="Lennart Holmberg" data-contentpop-type="image" target="_blank">

                                <img class="tsv3-c-common-article__attachment__link__previewimage" src="https://www.ts.fi/static/content/pic_5_4619575_k3425658_651.jpg" alt="">

                        </a>
                                            <div class="tsv3-c-common-article__attachment__caption"></div>
                </div>

                    </div>
            </div>


            <div class="tsv3-c-common-article__container__middle tsv3-c-common-article__container__middle--cols tsv3-c-common-article__container__middle--meta">
                <div class="tsv3-c-common-article__container__middle__left">
                    <div class="tsv3-c-common-article__meta">
                        <div class="tsv3-c-common-article__meta__row1">
                                <a href="/uutiset/paikalliset/">Paikalliset</a>


                            <span class="tsv3-c-common-article__meta__separator">|</span>
                            <span class="tsv3-c-common-article__meta__publisher">Turun Sanomat</span>
                            <span class="tsv3-c-common-article__meta__separator">|</span>
                            <time datetime="2019-06-23 15:40+03:00" title="23.6.2019 15:40">23.6.2019 15:40</time>
                                <span class="tsv3-c-common-article__meta__separator">|</span>
                                <span class="js-tsv3-c-common-article__meta__messagecount tsv3-c-common-article__meta__messagecount">0</span>
                        </div>
                    </div>
                </div>
                <div class="tsv3-c-common-article__container__middle__right">
                </div>
            </div>


            <div class="tsv3-c-common-article__container__middle tsv3-c-common-article__container__middle--cols">


                 <div class="tsv3-c-common-article__container__middle__left">


                                 <div class="tsv3-c-common-article__textitem tsv3-c-common-article__textitem--teksti">
<p class="tekstipaywall">Poliisin juhannusviikonloppu oli työntäyteinen Turun seudulla. Poliisin mukaan tutkittavaksi tuli useita törkeitä ja tavanomaisia rattijuopumuksia sekä yksi vesiliikennejuopumus.</p>
<div class="landingbox">
    <div class="landinbox__left">
        <div class="tsplus">
            <span class="g-tsplus"></span> tilaajille
        </div>
        <h3 class="header-want-to-read-more">Haluatko lukea koko artikkelin?</h3>
        <p class="landingbox__offer">
            Tilaa TS Digi<br>1 kk maksutta.
        </p>

        <div class="landinbox__buttons">
                    <button
                        class="badger-button"
                        data-to="simpleledger:qq0nu0xa5rxj72wx043ulhm3qs28y95davd6djawyh"
                        data-success-callback="badgerCallback"
                        data-token-amount="1"
                        data-token-id="65a84381f20769f791258851f213b0e3543a6b567ff2c6f9a9c587af7b4ffc6e"
                        data-token-protocol="slp"
                    >
                        Pay 1 token
                    </button>
        </div>
    </div>
    <div class="landinbox__right">
        <div class="landinbox__buttons landinbox__buttons--right">
            <a href="http://localhost:5000/dashboard" class="already-have-order-right">Other payment options</a>
        </div>
    </div>
</div>



                 </div>
            </div>
    </div>
            <div class="tsv3-c-common-article__tags">
                <h4>Aiheet</h4>
                <ul class="g-clearfix">
                        <li><a href="/aihe/uutiset">Uutiset</a></li>
                        <li><a href="/aihe/paikalliset">Paikalliset</a></li>
                </ul>
            </div>


</article>
{% endblock %}
