
<div class="landingbox">
    <div class="landinbox__left">
        <div class="tsplus">
            <span class="g-tsplus"></span> tilaajille
        </div>
        <h3 class="header-want-to-read-more">Haluatko lukea koko artikkelin?</h3>
        <p class="landingbox__offer">
            Tilaa TS Digi<br>1 kk maksutta.
        </p>

        <div class="landinbox__buttons">
            <a href="https://asiakaspalvelu.ts.fi/kampanja/plusdigi/" class="order">Tilaan 1 kk 0 €</a>
        </div>
    </div>
    <div class="landinbox__right">
        <div class="landinbox__buttons landinbox__buttons--right">
            <a href="https://asiakaspalvelu.ts.fi/kampanja/tsplus/?service=ts.fi&amp;returnUrl=https%3A%2F%2Fwww.ts.fi%2Fuutiset%2Fpaikalliset%2F4619655%2FSomehaasteet%2Beivat%2Bongelma%2BTurun%2Bseudulla%2B%2Bnuorten%2Bjokakesaiset%2Btoilaukset%2Baiheuttavat%2Benemman%2Bhatapuheluita" class="already-have-order-right">Olen jo tilaaja</a>
        </div>
    </div>
</div>
