{% extends "layout.html" %}

{% block content %}
  <a href="{{ url_for('users') }}">List users</a>
  <a href="{{ url_for('auth.logout') }}">Logout</a>
  <a href="{{ url_for('user.edit') }}">Edit user</a>
  <a href="{{ url_for('user.pay') }}">Pay</a>
  <br>
  <ul>
      <li>
          <a href="{{ url_for('article.article', id=0) }}">Artikkeli 0</a>
      </li>
      <li>
          <a href="{{ url_for('article.article', id=1) }}">Artikkeli 1</a>
      </li>
      <li>
          <a href="{{ url_for('article.article', id=2) }}">Artikkeli 2</a>
      </li>
      <li>
          <a href="{{ url_for('article.article', id=3) }}">Artikkeli 3</a>
      </li>
  </ul>
{% endblock %}
