{% extends "layout.html" %}

{% block content %}
    <p>Users: </p>
    {% for user in users %}
        <ul>
            <li>Name: {{ user.last_name }}, {{ user.first_name }}</li>
            <li>Email: {{ user.email }}</li>
            <li>Articles: {{ user.articles }}</li>
            <li>Monthly pay expiration: {{ user.subscription_end }}</li>
            <li>Prepaid articles left: {{ user.prepaid_articles }}</li>
        </ul>
    {% endfor %}
    <p>Publishers: </p>
    {% for p in pubs %}
        <ul>
            <li>Name: {{ p.name }}</li>
            <li>Revenue: {{ p.revenue }}</li>
            <li>Articles: {{ p.articles }}</li>
        </ul>
    {% endfor %}
    <p>Articles: </p>
    {% for a in arts %}
        <ul>
            <li>Url: {{ a.url}}</li>
            <li>Publisher: {{ a.publisher }}</li>
            <li>Hits: {{ a.hits }}</li>
        </ul>
    {% endfor %}
{% endblock %}
